<div local-storage ng-model="data.currItem" class="bill-form" ng-controller="customerapplyheaderController">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h3>基础数据 - 客户开户申请</h3>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox-title">
                    <a  style="font-size: small;font-weight: bold;color:black"><i ng-click="show_profit()"class={{icon}}></i>查询条件</a>

                    <div style="float: right;color:gray;">
                        <button class="btn btn-toolbar" type="button" ng-click="search()">
                            <i class="fa fa-search"></i>查询
                        </button>
                        <button  class="btn btn-toolbar" type="button" ng-click="new()">
                            <i class="fa fa-file-o"></i>新增
                        </button>
                        <button class="btn btn-toolbar" type="button" ng-click="look_detail()">
                            <i class="fa fa-file-text"></i>编辑
                        </button>
                        <button class="btn btn-toolbar" type="button" ng-click="look_detail()">
                            <i class="fa fa-file-text-o"></i>查看详情
                        </button>
                    </div>

                    <div class="ibox-content" ng-show="profit_stat" id="sqlWhereBlock">
                        <div class="row">
                             <div class="col-md-1">
                                <label class="form-label-mini">申请单号</label>
                            </div>
                            <div class="col-md-2">
                                <input ng-model="data.currItem.cust_apply_no" type="text"
                                       id="cust_apply_no"
                                           name="like"
                                       class="form-control input-sm">
                            </div>
                            <div class="col-md-1">
                                <label class="form-label-mini">客户名称</label>
                            </div>
                            <div class="col-md-2">
                                <input ng-model="data.currItem.cust_name" type="text"
                                       id="cust_name"
                                       name="like"
                                       class="form-control input-sm">
                            </div>
                            <div class="col-md-1">
                                <label class="form-label-mini">所在国家</label>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <input ng-change="changeAreaName()" type="text"
                                           id="area_name"
                                           name="like"
                                           class="input-sm form-control"
                                           ng-model="data.currItem.area_name">
                                    <a class="input-group-addon" ng-click="openAreaNameFrm()" id="#abc"><i
                                            class="fa fa-ellipsis-h"></i></a>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <label class="form-label-mini">业务部门</label>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <input type="text"
                                           id="org_name"
                                           name="like"
                                           class="input-sm form-control"
                                           ng-model="data.currItem.org_name">
                                    <a class="input-group-addon" ng-click="selectorg()" id="#org"><i
                                            class="fa fa-ellipsis-h"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1">
                                <label class="form-label-mini">地址</label>
                            </div>
                            <div class="col-md-2">
                                <input ng-model="data.currItem.address" type="text"
                                       id="address"
                                       name="like"
                                       class="form-control input-sm">
                            </div>
                            <div class="col-md-1">
                                <label class="form-label-mini">法人代表</label>
                            </div>
                            <div class="col-md-2">
                                <input ng-model="data.currItem.lawman" type="text"
                                       id="lawman"
                                       name="like"
                                       class="form-control input-sm">
                            </div>
                            <div class="col-md-1">
                                <label class="form-label-mini">客户等级</label>
                            </div>
                            <div class="col-md-2">
                                <select chosen-select ng-model="data.currItem.cust_level"
                                        name="="
                                        id="cust_level"
                                        class="input-sm chosen-select form-control"
                                        ng-options="type.dictvalue as type.dictname  for type in cust_levels">
                                    <option value=""></option>
                                </select>
                            </div>

                            <div class="col-md-1">
                                <label class="form-label-mini">开户行帐号</label>
                            </div>
                            <div class="col-md-2">
                                <input ng-model="data.currItem.bank_accno" type="text"
                                       id="bank_accno"
                                       name="like"
                                       class="form-control input-sm">
                            </div>
                        </div>
                     </div>
                    <div class="ibox-content">
                        <a style="font-size: small;font-weight: bold;color:black"><i class="btn btn-toolbar"></i>查询结果</a>
                        <div slick-grid
                             sg-options="viewOptions"
                             sg-data="data.currItem.customer_apply_headers"
                             sg-columns="viewColumns"
                             class="slick-grid"
                             style="width:100%;height:450px;"></div>
                        <div class="ibox-content modal-open" page-pagination></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="true">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>附件</h5>

                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content icons-box">
                        <button title="添加附件" class="btn btn-toolbar swfobjContainer">
                            <i class="fa lightblue font-size-15  fa-paperclip"></i> 添加附件
                            <span class="swfobj">
                                <!-- swfupload插件占位符 - 被object替换 -->
                                <a swf-upload id="swfupload-control" filed='#attach-area' ng-model="data.currItem.objattachs"
                                   upload-ist="data.currItem.objattachs">添加附件</a>
                             </span>
                        </button>
                        <ul id="attach-area">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>