<div hc-edit-list>

    <div hc-box class="other-h">

        <div class="row">
            <div hc-input="data.currItem.deliver_area_code"
                 hc-label="配送区域编码"
                 hc-readonly="true">
            </div>

            <div hc-input="data.currItem.deliver_area_name"
                 hc-label="配送区域名称"
                 hc-required="true">
            </div>

            <div hc-input="data.currItem.remark"
                 hc-label="备注"
                 hc-col-count="4">
            </div>
        </div>

        <div class="row">
            <div hc-input="data.currItem.created_by"
                 hc-label="创建人"
                 hc-readonly="true">
            </div>

            <div hc-input="data.currItem.creation_date"
                 hc-label="创建日期"
                 hc-readonly="true">
            </div>

            <div hc-input="data.currItem.isusable"
                 hc-type="checkbox"
                 hc-label="有效">
            </div>
        </div>

    </div>

</div>