<div hc-diy-page>

    <!--<div>-->
    <!--<p>&nbsp;&nbsp;格式提示：</p>-->
    <!--&lt;!&ndash;  <p> &nbsp;&nbsp;&nbsp;&nbsp;资产、负债项目描述：在前面增加一个"*"，空格才有效</p>&ndash;&gt;-->
    <!--<p> &nbsp;&nbsp;&nbsp;&nbsp;相关科目(+、-)：单个科目：5401，多个科目：54010102','54010103','54010104','54010199</p>-->
    <!--<p> &nbsp;&nbsp;&nbsp;&nbsp;计算公式：如(1+2-3)为(1,+,2,-3)，跨列加减格式[列数-1资产年初2资产末期3负债年初4负债期末|行数]如(3|60,-,2|60)，只有加减</p>-->
    <!--<p> &nbsp;&nbsp;&nbsp;&nbsp;运算标记：1 单加减、2 加减、 3 计算</p>-->
    <!--</div>-->

    <!--网格-->
    <div hc-box class="m-t-xs" hc-grid="gridOptions" hc-auto-height="grid"></div>

</div>
