<div hc-edit-list>
    <div hc-box class="other-h">
        <!-- 模态框 -->
        <div class="row">

            <div hc-input="data.currItem.year_month"
                 hc-label="年月"
                 hc-type="year-month"
                 hc-readonly="true"
                 hc-required="true">
            </div>
            <div hc-input="data.currItem.start_date"
                 hc-label="开始日期"
                 hc-type="date">
            </div>
            <div hc-input="data.currItem.end_date"
                 hc-label="结束日期"
                 hc-type="date">
            </div>
        </div>
        <div class="row">
            <div hc-input="data.currItem.remark"
                 hc-label="备注"
                 hc-col-count="6">
            </div>
        </div>
        <div class="row">
            <div hc-input="data.currItem.is_current_period_ap"
                 hc-label="当前应付期间"
                 hc-readonly="true"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_checkout_ap"
                 hc-label="应付业务结账"
                 hc-readonly="true"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_close_ap"
                 hc-label="应付业务关闭"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_current_period_ar"
                 hc-label="当前应收期间"
                 hc-readonly="true"
                 hc-type="checkbox">
            </div>

            <div hc-input="data.currItem.is_checkout_ar"
                 hc-label="应收业务结账"
                 hc-readonly="true"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_close_ar"
                 hc-label="应收业务关闭"
                 hc-type="checkbox">
            </div>
        </div>
        <div class="row">

            <div hc-input="data.currItem.is_current_period_inv"
                 hc-label="当前存货期间"
                 hc-readonly="true"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_checkout_inv"
                 hc-label="存货业务结账"
                 hc-readonly="true"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_close_inv"
                 hc-label="存货业务关闭"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_current_period_fee"
                 hc-label="当前费用期间"
                 hc-readonly="true"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_checkout_fee"
                 hc-label="费用业务结账"
                 hc-readonly="true"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_close_fee"
                 hc-label="费用业务关闭"
                 hc-type="checkbox">
            </div>
        </div>
        <div class="row">
            <div hc-input="data.currItem.is_current_period_fnd"
                 hc-label="当前出纳期间"
                 hc-readonly="true"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_checkout_fnd"
                 hc-label="出纳业务结账"
                 hc-readonly="true"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_close_fnd"
                 hc-label="出纳业务关闭"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_current_period_gl"
                 hc-label="当前总帐期间"
                 hc-readonly="true"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_checkout_gl"
                 hc-label="总帐业务结账"
                 hc-readonly="true"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_close_gl"
                 hc-label="总帐业务关闭"
                 hc-type="checkbox">
            </div>


        </div>
        <div class="row">
            <div hc-input="data.currItem.is_current_period_ad"
                 hc-label="当前资产及设备期间"
                 hc-readonly="true"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_checkout_ad"
                 hc-label="资产及设备业务结账"
                 hc-readonly="true"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_close_ad"
                 hc-label="资产及设备业务关闭"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_current_period_cs"
                 hc-label="当前渠道库存期间"
                 hc-readonly="true"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_checkout_cs"
                 hc-label="渠道库存业务结账"
                 hc-readonly="true"
                 hc-type="checkbox">
            </div>
            <div hc-input="data.currItem.is_close_cs"
                 hc-label="渠道库存业务关闭"
                 hc-type="checkbox">
            </div>


        </div>
    </div>
</div>
