
<div hc-diy-page>
    <div class="hc-box other-h">
        <!--<div class="row">-->
            <!--<div hc-input="data.searchItem.cyear"-->
                 <!--hc-label="年度"-->
                 <!--hc-type="year">-->
            <!--</div>-->

            <!--<div hc-input="data.searchItem.cmonth"-->
                 <!--hc-label="月度"-->
                 <!--hc-type="month">-->
            <!--</div>-->

            <!--<div hc-input="data.searchItem.balance_type_name"-->
                 <!--hc-label="结算方式"-->
                 <!--hc-btn-click="chooseBalanceType('search')">-->
            <!--</div>-->

            <!--<div hc-input="data.searchItem.source_bill_no"-->
                 <!--hc-label="报销单号">-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->
            <!--<div hc-input="data.searchItem.org_name"-->
                 <!--hc-label="部门"-->
                 <!--hc-btn-click="chooseOrg()">-->
            <!--</div>-->

            <!--<div hc-input="data.searchItem.chap_name"-->
                 <!--hc-label="报销人">-->
            <!--</div>-->

            <!--<div hc-input="data.searchItem.note"-->
                 <!--hc-label="费用用途">-->
            <!--</div>-->

            <!--<button type="button" class="btn btn-primary"-->
                    <!--style="margin-left: 30px; width: 200px;"-->
                    <!--ng-click="searchByCon()">-->
                <!--<i class="fa fa-search"></i> 查询-->
            <!--</button>-->
        <!--</div>-->
    </div>




    <div id="grid" hc-grid="gridOptions" hc-auto-height="grid"></div>


</div>

<style>
    .show-cell {
        background: white;
        border-left: 1px dotted lightgrey !important;
        border-right: 1px dotted lightgrey !important;
        border-top: 1px dotted lightgrey !important;
    }
</style>
