<div hc-obj-prop>

    <div id="base" class="active">
        <div class="hc-box other-h">
            <div class="row">
                <div hc-input="data.currItem.credence_no"
                     hc-label="凭证号"
                     hc-readonly="true"
                >
                </div>

                <div hc-input="data.currItem.credence_date"
                     hc-label="记账日期"
                     hc-type="date"
                     hc-change="dateChangeEvent()"
                     hc-readonly="data.currItem.assess_flag == 2 || data.currItem.assess_flag == '2' "
                     id="date1"
                >
                </div>

                <div hc-input="data.currItem.year_month"
                     hc-label="记账月份"
                     hc-type="year-month"
                     hc-readonly="true">
                </div>

                <div hc-input="data.currItem.assess_flag"
                     hc-label="已审核"
                     hc-readonly="true"
                     hc-dict-code="yesno"
                >
                </div>

            </div>
            <div class="row">
                <div hc-input="data.currItem.character_codename"
                     hc-label="凭证字"
                     hc-readonly="true"
                >
                </div>

                <div hc-input="data.currItem.credence_type"
                     hc-label="凭证类型"
                     hc-readonly="true"
                     hc-dict-code="credence_type"
                >
                </div>

                <div hc-input="data.currItem.amount_bill"
                     hc-label="附单据"
                     hc-type="number"
                     hc-unit="张"
                     hc-readonly="data.currItem.assess_flag == 2"
                >
                </div>

                <div hc-input="data.currItem.is_relation"
                     hc-label="关联交易"
                     hc-type="checkbox">
                </div>
                <!--<button type="button" class="btn btn-primary"-->
                <!--style="margin-left: 30px; width: 200px;"-->
                <!--ng-click="searchByCon()">-->
                <!--<i class="fa fa-search"></i> 查询-->
                <!--</button>-->
            </div>
        </div>

        <div id="grid" hc-grid="gridOptions" hc-box="" hc-auto-height="grid"></div>
        <div hc-box="{{data.currEditLineTitle}}" other-h=""></div>
        <div class="hc-box other-h">
            <div class="row row-input-s">
                <!--<button type="button" class="btn btn-link btn-xs" style="font-weight: bold"></button>-->
                <div hc-input="data.currLine.fund_account_code"
                     hc-label="资金账号"
                     hc-class-id="fd_fund_account"
                     hc-common-search="commonSearchSetting.choose_fund_account"
                     hc-required="data.currLine.gl_account_check_authrorities.is_fd_account == 2"
                     hc-readonly="data.currItem.assess_flag == 2"
                >
                </div>
                <div hc-input="data.currLine.fund_account_name"
                     hc-readonly="true"
                >
                </div>
                <div hc-input="data.currLine.base_ac_object_code"
                     hc-label="往来对象"
                     hc-class-id="base_ac_object"
                     hc-common-search="commonSearchSetting.chooseBase_ac_object"
                     hc-required="data.currLine.gl_account_check_authrorities.ac_object_calculate == 2"
                     hc-readonly="data.currItem.assess_flag == 2"
                >
                </div>
                <div hc-input="data.currLine.base_ac_object_name"
                     hc-readonly="true"
                >
                </div>

                <div hc-input="data.currLine.crm_entid"
                     hc-label="品类"
                     hc-dict-code="crm_entid"
                     hc-required="data.currLine.gl_account_check_authrorities.crm_entid_calculate == 2"
                     hc-readonly="data.currItem.assess_flag == 2"
                >
                </div>
            </div>
            <div class="row row-input-s">
                <!--<button type="button" class="btn btn-link btn-xs" style="font-weight: bold"></button>-->
                <div hc-input="data.currLine.customer_code"
                     hc-label="客户"
                     hc-class-id="customer_org"
                     hc-common-search="commonSearchSetting.chooseCustomer"
                     hc-required="data.currLine.gl_account_check_authrorities.customer_calculate == 2"
                     hc-readonly="data.currItem.assess_flag == 2"
                >
                </div>
                <div hc-input="data.currLine.customer_name"
                     hc-readonly="true"></div>

                <div hc-input="data.currLine.vendor_code"
                     hc-label="供应商"
                     hc-common-search="commonSearchSetting.chooseVendor"
                     hc-class-id="vendor_org"
                     hc-required="data.currLine.gl_account_check_authrorities.vendor_calculate == 2"
                     hc-readonly="data.currItem.assess_flag == 2"
                >
                </div>
                <div hc-input="data.currLine.vendor_name"
                     hc-readonly="true">
                </div>

                <div hc-input="data.currLine.employee_name"
                     hc-label="个人"
                     hc-common-search="commonSearchSetting.chooseEmployee"
                     hc-class-id="base_view_erpemployee_org"
                     hc-required="data.currLine.gl_account_check_authrorities.person_calculate == 2"
                     hc-readonly="data.currItem.assess_flag == 2"
                >
                </div>
            </div>
            <div class="row row-input-s">
                <div hc-input="data.currLine.dept_code"
                     hc-label="部门"
                     hc-common-search="commonSearchSetting.chooseDept"
                     hc-class-id="dept"
                     hc-required="data.currLine.gl_account_check_authrorities.dept_calculate == 2"
                     hc-readonly="data.currItem.assess_flag == 2"
                >
                </div>
                <div hc-input="data.currLine.dept_name"
                     hc-readonly="true">
                </div>

                <div hc-input="data.currLine.obj_code"
                     hc-label="资金流向"
                     hc-common-search="commonSearchSetting.chooseGl_cash_report_set"
                     hc-class-id="gl_cash_report_set"
                     hc-required="data.currLine.gl_account_check_authrorities.person_calculate == 2"
                     hc-readonly="data.currItem.assess_flag == 2"
                >
                </div>
                <div hc-input="data.currLine.obj_name"
                     hc-readonly="true">
                </div>

                <div hc-input="data.currLine.sale_area_name"
                     hc-label="区域"
                     hc-common-search="commonSearchSetting.chooseSale_area"
                     hc-class-id="sale_salearea"
                     hc-required="data.currLine.gl_account_check_authrorities.is_area_calculate == 2"
                     hc-readonly="data.currItem.assess_flag == 2"
                >
                </div>
            </div>
        </div>
    </div>

    <div id="other">
        <div class="hc-box other-h">
            <div class="row">
                <div hc-input="data.currItem.creation_date"
                     hc-label="创建时间"
                     hc-readonly="true">
                </div>

                <div hc-input="data.currItem.created_by"
                     hc-label="创建人"
                     hc-readonly="true"
                >
                </div>

                <div hc-input="data.currItem.last_updated_by"
                     hc-label="修改人"
                     hc-readonly="true">
                </div>

                <div hc-input="data.currItem.last_update_date"
                     hc-label="修改时间"
                     hc-readonly="true">
                </div>

            </div>
            <div class="row">

                <div hc-input="data.currItem.cashier_employee_by"
                     hc-label="出纳"
                     hc-readonly="true"
                >
                </div>

                <div hc-input="data.currItem.assessor_employee_by"
                     hc-label="审核"
                     hc-readonly="true"
                >
                </div>

                <div hc-input="data.currItem.tally_employee_by"
                     hc-label="登账"
                     hc-readonly="true"
                >
                </div>
                <!--<button type="button" class="btn btn-primary"-->
                <!--style="margin-left: 30px; width: 200px;"-->
                <!--ng-click="searchByCon()">-->
                <!--<i class="fa fa-search"></i> 查询-->
                <!--</button>-->
            </div>
        </div>
    </div>

</div>

