<div hc-diy-page>
    <div class="hc-box grid-other-h">
        <div class="row">
            <div hc-input="data.currItem.currentmonth"
                 hc-label="会计期间"
                 hc-readonly="true">
            </div>
        </div>
        <div class="row">
            <h2 style="float: left;font-style: italic;font-size: 12px;width:400px;">
                温馨提示：凭证登账是凭证处理的最后一个步骤，系统将会计凭证中
                各分录登记到各相关账簿中。经过登账处理后的凭证将成
                为历史凭证，不允许进行修改，如果发现错误，只能采用
                补充凭证或红字冲销的方法更正。因此，在过账之前，请
                检查你输入的凭证是否都完全正确无误。
            </h2>
        </div>
    </div>
</div>