
<div hc-diy-page>

    <!--查询条件-->
    <div class="hc-box other-h">
        <div class="row">
            <div hc-input="data.currItem.character"
                 hc-label="凭证字"
                 hc-readonly="true">
            </div>

            <div hc-input="data.currItem.affairtype"
                 hc-label="业务类型"
                 hc-dict-code="inv_order_type">
            </div>

            <div hc-input="data.currItem.dealwithtype"
                 hc-label="处理方式"
                 hc-dict-code="dealwith_type">
            </div>

            <div hc-input="data.currItem.is_relation"
                 hc-label="处理关联交易"
                 hc-type="checkbox">
            </div>
        </div>

        <div class="row">
            <div hc-input="data.currItem.binvbilldate"
                 hc-label="查询日期"
                 hc-type="date">
            </div>
            <button type="button" class="btn btn-link" style="margin-right:33px; margin-left:15px;color: #24262b;cursor: default;">
                至
            </button>
            <div hc-input="data.currItem.einvbilldate"
                 hc-col-count="1"
                 hc-type="date">
            </div>

            <button type="button"
                    class="btn btn-primary"
                    style="margin-left: 30px;"
                    ng-click="searchBySqlWhere()">查询
            </button>

            <button type="button" class="btn btn-link btn-xs tips" style="margin-right:33px; margin-left:15px;">
                销售出库、销售退货、委托代销结算、其他入库、其他出库凭证请在计算结存成本后再结转凭证
            </button>
        </div>

    </div>

    <!--网格-->
    <div hc-box hc-grid="gridOptions" hc-auto-height="grid"></div>

</div>
