<div hc-obj-list>
     <!-- 查询条件面板-->
     <hc-obj-list-search-panel>
          <div class="row">
               <div hc-input="searchObj.short_barcode" hc-label="防伪码"></div>
               <div hc-input="searchObj.barcodeno" hc-label="外箱码" hc-can-delete="true"></div>
               <div hc-input="searchObj.erpno" hc-label="产品编码" hc-can-delete="true"></div>
               <div hc-input="searchObj.customno" hc-label="客户编码"></div>
          </div>
     </hc-obj-list-search-panel>
</div>
<style>
</style>