<div hc-edit-list>
	<div class="row">
		<div hc-input="data.currItem.base_ac_object_code"
			 hc-label="往来对象编码"
			 hc-required="true">
		</div>
		<div hc-input="data.currItem.base_ac_object_name"
			 hc-label="往来对象名称"
			 hc-required="true">
		</div>
		<div hc-input="data.currItem.remark"
			 hc-label="备注"
			 hc-col-count="4">
		</div>
	</div>
	<div class="row">
		<div hc-input="data.currItem.created_by"
			 hc-label="创建人"
			 hc-readonly="true">
		</div>
		<div hc-input="data.currItem.creation_date"
			 hc-label="创建时间"
			 hc-readonly="true">
		</div>
		<div hc-input="data.currItem.last_updated_by"
			 hc-label="更新人"
			 hc-readonly="true">
		</div>
		<div hc-input="data.currItem.last_update_date"
			 hc-label="更新时间"
			 hc-readonly="true">
		</div>
	</div>
</div>