<div hc-obj-prop>
    <div id="base" class="active">
        <div hc-box class="other-h">
            <div class="row">
                <div hc-input="data.currItem.period_year"
                     hc-label="年度">
                </div>
                <div hc-input="data.currItem.period_type"
                     hc-label="预算期间类别"
                     hc-dict-code="Period_Type">
                </div>
            </div>
            <div class="row">
                <div hc-input="data.currItem.description"
                     hc-label="描述"
                     hc-col-count="4">
                </div>
            </div>
        </div>
        <div hc-grid="gridOptions" hc-box hc-auto-height="grid"></div>
    </div>
</div>