

<!--modal --明细的模态框-->
<!--
<div class="modal inmodal fade" id="LookModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:700px;">
            <div class="modal-header" draggable-model>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">{{ParentNode2}}>>{{ParentNode3}}</h4>
            </div>
            &lt;!&ndash;<div>&ndash;&gt;
            &lt;!&ndash;<span style="font-style: italic;color: #da4534;margin-left: 20px;">当前类别: </span>&ndash;&gt;
            &lt;!&ndash;<span style="font-style: italic;color: #da4534;margin-left: 20px;">所属大类: </span>&ndash;&gt;
            &lt;!&ndash;</div>&ndash;&gt;
            <div class="modal-body" hc-box="">
                <div hc-grid="gridOptions1" style="height:380px;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="saveDetail()">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>-->
