
<div hc-obj-prop>
    <div id="base" class="active">
        <div hc-box="" class="other-h">
            <div class="row">
                <div hc-input="data.currItem.sales_bud_head_no"
                     hc-label="销售预算单号"
                     hc-required="true"
                     hc-btn-click="chooseFee()">
                </div>


                <div hc-input="data.currItem.bud_year"
                     hc-label="预算编制年度"
                     hc-type="year"
                     hc-required="true"
                     hc-readonly="true">
                </div>

                <div hc-input="data.currItem.org_name"
                     hc-label="部门"
                     hc-readonly="true">
                </div>
                <div hc-input="data.currItem.stat"
                     hc-label="单据状态"
                     hc-dict-code="stat"
                     hc-readonly="true">
                </div>
            </div>

            <div class="row">

                <div hc-input="data.currItem.total_sales_qty"
                     hc-label="累计销售数量"
                     hc-type="number"
                     hc-readonly="true">
                </div>

                <div hc-input="data.currItem.total_sales_amt"
                     hc-label="累计销售金额"
                     hc-type="money"
                     hc-readonly="true">
                </div>
                <div hc-input="data.currItem.creator"
                     hc-label="创建人" hc-readonly="true">
                </div>

                <div hc-input="data.currItem.create_time"
                     hc-label="创建时间"
                     hc-type="date" hc-readonly="true">
                </div>
            </div>

            <div class="row">


                <div hc-input="data.currItem.comp_target_salesamt"
                     hc-label="总预算销售收入"
                     hc-type="money"
                     hc-readonly="true">
                </div>

                <div hc-input="data.currItem.dept_target_salesamt"
                     hc-label="部门预算销售收入"
                     hc-type="money"
                     hc-readonly="true">
                </div>

                <div hc-input="data.currItem.note"
                     hc-label="说明"
                     hc-type="textarea"
                     hc-col-count="4">
                </div>
            </div>
        </div>
        <div hc-grid="gridOptions" hc-box  hc-auto-height="grid"></div>
            
    </div>
    
</div>