<div hc-diy-page>
    <div class="hc-box grid-other-h">
        双击【业务模块】，显示【资金与总账对账明细表】 |
        双击【财务总账】，显示【明细分类表】 |
        双击【业务-总账差异】，显示【资金与总账对账表】
        <div class="row">
            <div hc-input="data.currItem.unknownmonth"
                 hc-label="月份"
                 hc-type="date"
                 hc-change="unknownmonthChanged()">
            </div>

            <div hc-input="data.currItem.unknown"
                 hc-label="模拟过账"
                 hc-type="checkbox">
            </div>

            <button type="button"
                    class="btn btn-white"
                    ng-click="unknown()"
                    style="margin-left: 20px">查询</button><!-- ng-disabled="toolButtons.show_group.title=='显示明细'"-->
        </div>

    </div>

    <div class="tabs-container">
        <div class="tab-content">
            <div id="tab1" class="tab-pane active">
                <div hc-grid="gridOptions"  hc-auto-height="grid"></div>
            </div>
        </div>
    </div>

</div>