<!--
	新闻预览界面
-->
<div class="contant" ng-controller="oa_home_info_news">
	<div class="row"></div>
	<!--标题-->
	<div class="title">
		<h2 ng-bind-html="data.title"></h2>
	</div>
	<!--创建人，创建时间-->
	<div class="time">
		<p>创建人：{{data.creator}} &nbsp;&nbsp;&nbsp;&nbsp;创建时间：{{data.create_time}} &nbsp;&nbsp;&nbsp;&nbsp;阅读量：{{data.read_sum}}
			<hr />
		</p>

	</div>
	<!--预览内容区-->
	<div>
		<div class="inner" ng-bind-html="data.contentHtml"></div>
	</div>
	<!--附件区-->
	<div class="appendix" ng-if="data.currItem.objattachs.length>0">
		<hr /> 附件:
		<div ng-repeat="appendix in data.currItem.objattachs">
			<a target="_blank" ng-click="viewDoc({docname:appendix.docname,downloadcode:appendix.downloadcode})">{{appendix.docname}}</a>&nbsp;&nbsp;<span>({{appendix.oldsize/1024|number:0}}k)</span>
			<br>
		</div>
	</div>

</div>

<style type="text/css">
	.contant {
		margin-top: 10px;
		height: 100%;
		width: 75%;
		margin: 0 auto;
		background-color: #FFFFFF;
	}
	
	h2 {
		color: #000000;
		text-align: center;
		font-family: 微软雅黑, 宋体;
		font-weight: 900px;
		margin-top: 20px;
	}
	
	.time,
	.appendix {
		color: #000000;
		font-size: 10px;
		margin-left: 50px;
		font-family: 微软雅黑, 宋体;
		margin-top: 20px;
		margin-bottom: 10px;
		margin-right: 50px;
	}
	
	.inner {
		margin-left: 50px;
		margin-right: 50px;
	}
	
	img {
		height: 100% !important;
		max-width: 100%;
	}
</style>