<!--密码修改弹出框-->
<!--
<div class="modal-header">
    <h4 class="modal-title" style="font-size: 16px;">修改密码</h4>
</div>
-->
<!--
<div class="modal-body" style="padding-top: 0px; padding-left: 20px; padding-right: 20px;">


</div>-->
<!--

<div class="modal-footer">
    <button type="button" class="btn btn-blue" ng-click="saveAndClose()">保存并关闭</button>
</div>-->

Hello World
<!--

<div class="row">
    <div hc-label="密码"
         hc-input="data.currItem.userpass"
         hc-type="password"
         hc-col-count="2"
         hc-required="true"/>

    <div hc-label="确认密码"
         hc-input="data.currItem.confirmuserpass"
         hc-type="password"
         hc-col-count="2"
         hc-required="true"/>
</div>-->
