<div class="modal-content">
    <div class="modal-header">
    <a class="close" data-dismiss="modal"></a>
    <h3>{{FrmInfo.title}}</h3>
    </div>
    <div class="modal-body">
         
        <table class="table table-striped table-bordered no-paging footable-loaded">
              <tr style="display: table-row;">
                  <td width="70%">
                  	<span class="footable-toggle"></span>
                  	<input autofocus id="autofocus" auto-focus ng-keyup="enter($event)" ng-model="searchtext" type="text" name="keyword" placeholder="输入文本..." class="form-control">
                  </td>
                  <td>
                      <button class="btn btn-sm btn-primary" ng-click="search()"><strong>立即搜索</strong></button>  
                  </td>
              </tr>
         </table>
        <div style="max-height:200px;overflow-y:auto;">
	         <table class="table table-border table-striped" id="history_table">
	            <thead style="border: 1px solid #e7e7e7;background-color: #F5F5F6;line-height: 25px;height:25px;" >
               <th addsearch-thead><input id='selectall' ng-click='selectall()' type='checkbox' name='selectall'>选择</th> 
              </thead>
	            <tbody>
	                <tr ng-click="trselect($index,$event)" ng-dblclick="addConfirm($index)" ng-click="addLine($index,$event)" ng-repeat="iitem in items" style="cursor: pointer;">
                    <td   search-td><input name="item" type="checkbox"></td>
						<!-- <td ng-bind="$index+1">1</td>
						<td>{{item.code}}</td>
						<td>{{country.areaname}}</td> -->
					        </tr>
	            </tbody>
	         </table>
         </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-sm btn-primary" ng-click="ok()">
          确定
        </a>
        <a class="btn btn-sm btn-info" ng-click="cancel()">
          取消
        </a>
     </div>
</div>