<!--<div id="right-sidebar" ng-show="false" class="sidebar-open" ng-controller="historyController">-->
    <!--<div class="sidebar-container" full-scroll>-->

        <!--<ul class="nav nav-tabs navs-2">-->

            <!--<li class="active">-->
            	<!--<a ng-click="tab1 = true; tab2 = false; tab3 = false" ng-init="tab1 = true">历史列表</a>-->
            <!--</li>-->
            <!--<li>-->
            	<!--<a ng-click="clearlist()">清空列表</a>-->
            <!--</li>-->
            <!--&lt;!&ndash; <li ng-class="{active: tab3}"><a ng-click="tab3 = true; tab1 = false; tab2 = false">-->
                <!--<i class="fa fa-gear"></i>-->
            <!--</a></li> &ndash;&gt;-->
        <!--</ul>-->
        <!--<div class="tab-content">-->
            <!--<div class="tab-pane active">&lt;!&ndash; history-list &ndash;&gt;-->
                <!--<ul id="page_history_ul" class="unstyled sidebar-list" ng-show="stat">-->
                	<!--<li ng-click="selectitem()" ng-repeat="historylist in historylist" ui-sref='{{historylist.name}}'><a><span ng-bind="historylist.title"></span></a></li>-->
                <!--</ul>-->
                <!--<ul class="unstyled sidebar-list" ng-show="!stat">-->
                	<!--<li style='color:#ccc;background-color:#fff;'>无历史纪录</li>-->
                <!--</ul>-->
            <!--</div>-->

        <!--</div>-->

    <!--</div>-->
<!--</div>-->