<div
        style="
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
	"
>
    <!-- 彈窗按鈕元素 -->
    <button
            class="btn btn-white btn-sm"
            ng-click="click({ $event: $event })"
            ng-disabled="clickRunning || disabled()"
            tabindex="-1"
    >
        <i class="fa fa-spinner fa-pulse" hc-if="clickRunning"/>
        <i class="{{icon}}" hc-if="icon && !clickRunning"/>
        <span ng-bind="title" hc-if="!(title === '···' && clickRunning)"/>
        <div hc-transclude="parent"/>
    </button>
</div>