<div hc-obj-prop>
    <div id="base" class="active">
        <div hc-box class="other-h">
            <div class="row">
                <div hc-input="data.currItem.invbillno"
                     hc-label="退货单号"
                     hc-readonly="true">
                </div>
                <div hc-input="data.currItem.invbilldate"
                     hc-label="单据日期"
                     hc-type="date"
                     hc-change="dateChangeEvent()">
                </div>
                <div hc-input="data.currItem.price_type"
                     hc-label="价格类型"
                     hc-required="true"
                     hc-dict-code="price_type">
                </div>
               <!-- <div hc-input="data.currItem.year_month"
                     hc-label="记账月份"
                     hc-readonly="true">
                </div>-->
                <div hc-input="data.currItem.stat"
                     hc-label="单据状态"
                     hc-dict-code="stat"
                     hc-readonly="true">
                </div>
            </div>

            <div class="row">

                <div hc-input="data.currItem.vendor_name"
                     hc-label="供应商"
                     hc-required="true"
                     hc-col-count="4"
                     hc-btn-click="chooseVendor()">
                </div>

                <div hc-input="data.currItem.warehouse_name"
                     hc-label="出库仓"
                     hc-btn-click="chooseWarehouse()">
                </div>
                <div hc-input="data.currItem.creator"
                     hc-label="创建人"
                     hc-readonly="true">
                </div>
            </div>

            <div class="row">

                <div hc-input="data.currItem.note"
                     hc-label="备注"
                     hc-type="textarea"
                     hc-col-count="6">
                </div>
                <!--<div hc-input="data.currItem.total_cubage"
                     hc-label="合计体积"
                     hc-type="volume"
                     hc-readonly="true">
                </div>-->

                <div hc-input="data.currItem.create_date"
                     hc-label="创建时间"
                     hc-readonly="true">
                </div>
            </div>

            <div class="row">
                <!--<div hc-input="data.currItem.total_qty"
                     hc-label="合计数量"
                     hc-type="number"
                     hc-readonly="true">
                </div>

                <div hc-input="data.currItem.amount_total"
                     hc-label="合计金额"
                     hc-type="money"
                     hc-readonly="true">
                </div>-->

            </div>


        </div>

        <div hc-box hc-grid="gridOptions" hc-auto-height="grid"></div>
            
    </div>
    
</div>