<div class="modal-content" local-storage ng-model="data.currItem">
	<div class="row" style="width: 100%;margin-left: 0px;">
		<div class="col-lg-12">
			<div draggable-model class="modal-header" style="width: 100%">
				<h3>{{title}}</h3>
			</div>
			<div class="modal-body" style="width: 100%">
				<div class="row row_div">
					<div class="col-md-12">
						<div class="row row_div">
							<div class="col-md-6">
								<div class="lm_panel1s">
									<div id="AddrTab" style='display:block'>
										<div class="lm_sbar">
											<a ng-click='close_people()' type="button" id="lm15034559988030725050352368402cancel" ng-class="{true:'lm_sopen fa fa-times',false:'lm_sopen fa fa-search'}[data.is_search==2?true:false]" class="lm_sopen fa fa-search"></a>
											<div>
												<input ng-change='search_peopele(2)' ng-model='data.username' id="lm15034559988030725050352368402searchtext" type="text" class="txt" value="" autocomplete="off" style="color: rgb(160, 160, 160);width: 93%">
											</div>
										</div>
										<div ng-hide='data.is_search==2' id="lm150338581407203951792705359891tree">
											<div class="groupopen" style="display:" key="t2" sub="0">
												<div class="settingtable qqshowbd" style="padding:4px 0 3px 8px;cursor:default;">
													<a class="lm_rt" fun="g2"></a>机构</div>
												<ul id="treeDemo4" class="ztree ztrees"></ul>
											</div>
										</div>
										<div ng-show='data.is_search==2' class="groupopen" style="display:" key="t3" sub="0">
											<div class="settingtable qqshowbd" style="padding:4px 0 3px 8px;cursor:default;">查找到。。。</div>
										</div>
										<div ng-show='data.is_search==2' id="lm150338581407203951792705359891tree" style="overflow-y: auto;height:330px;overflow-x: hidden;">
											<div class="groupsub" key="t3" sub="1">
												<div ng-click='contact_people(item)' ng-repeat='item in data.currItem.cpcorgs' class="groupclose" style="display:" key="8" sub="0">
													<a unselectable="on" class="lm_addr">{{item.username}}</a>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
							<div class="col-md-6">
								<div class="col-md-2">
									<div style="padding-top:80px">
										<button style="width:100%" class="btn btn-white btn-xs" type="button" ng-click="add_sj()">
											<i class="fa fa-arrow-right fa-1x"></i>
										 </button>
										<div style='height:5px'></div>
										<button style="width:100%;padding-top:5px" class="btn btn-white btn-xs" type="button" ng-click="del_sj()">
											<i class="fa fa-arrow-left fa-1x"></i>
										 </button>
									</div>
									<!--<div style="padding-top:180px">
										<button style="width:100%" class="btn btn-white btn-xs" type="button" ng-click="add_cs()">
											<i class="fa fa-arrow-right fa-1x"></i>
										 </button>
										<div style='height:5px'></div>
										<button style="width:100%;padding-top:5px" class="btn btn-white btn-xs" type="button" ng-click="del_cs()">
											<i class="fa fa-arrow-left fa-1x"></i>
										 </button>
									</div>-->
								</div>
								<div class="col-md-10">
									<div class="lm_panel1s">
										<div id="AddrTab" style='display:block'>
											<div class="groupopen" key="t3" sub="0">
												<div class="settingtable qqshowbd" style="padding:4px 0 3px 8px;cursor:default;">用户</div>
											</div>
											<div style="height:360px;overflow: auto;" id="lm150338581407203951792705359891tree">
												<div class="groupsub" key="t3" sub="1">
													<div ng-dblclick="del_user($event,$index)" ng-click='click_sj($event,$index)' ng-repeat='item in data.currItem.sj_people' class="groupclose" style="display:" key="8" sub="0">
														<a unselectable="on" class="lm_addr">{{item.username}}</a>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer" style="width: 100%">
				<a class="btn btn-sm btn-primary" ng-click="ok(e)">
					确定
				</a>
				<a class="btn btn-sm btn-info" ng-click="cancel(e)">
					取消
				</a>
			</div>
		</div>
	</div>
</div>
<style>
	.modal-body {
		padding: 15px;
	}
	/*
	fieldset {
		padding: .35em .425em .25em;
		margin: 1px 0px 5px;
		position: relative;
		border: 1px solid silver;
	}
	
	*/
	
	.lm_panel1s {
		border-style: groove;
		border: 1px solid rgba(108, 124, 134, 0.39);
		background: #fff;
	}
	
	.modal-dialog {
		width: 650px;
	}
	
	.row_div {
		margin-right: 0px;
		margin-left: 0px;
	}
	/*
	.col-lg-12 {
		position: relative;
		min-height: 1px;
		padding-left: 2px;
		padding-right: 2px;
	}
	*/
	
	.modal {
		z-index: 2001 !important;
	}
	
	.modal-backdrop {
		z-index: 2001 !important;
	}
	
	.settingtable {
		background-color: #eff5fb;
	}
	
	ul.ztrees {
		border: 1px solid #ffffff;
		overflow-y: hidden;
		overflow-x: hidden;
		height: 330px;
		overflow: auto;
	}
	
	.high {
		background: #e3e1e4;
	}
	
	.lm_sbar .lm_sopen {
		/* background: url(/zh_CN/htmledition/images/webp/newicon/compose207c92.png) 0 -312px no-repeat; */
		width: 19px;
		height: 20.5px;
		padding: 0;
		border: 1px solid rgb(169, 169, 169);
		float: right;
		border-bottom-left-radius: none;
		border-left: white;
	}
	
	.lm_sbar {
		border-bottom: 1px solid #ccc;
		padding: 7px 6px 4px;
		_padding-left: 3px;
		line-height: 11px;
	}
</style>