<div hc-edit-list>

    <div hc-box class="other-h">
        <div class="row">
            <div hc-input="data.currItem.uom_code"
                 hc-label="单位编码"
                 hc-readonly="true">
            </div>

            <div hc-input="data.currItem.uom_name"
                 hc-label="单位名称">
            </div>

            <div hc-input="data.currItem.note"
                 hc-label="备注"
                 hc-col-count="4"
                 hc-type="textarea">
            </div>
        </div>

        <!--<div class="row">
            <div hc-input="data.currItem.created_by"
                 hc-label="创建用户"
                 hc-readonly="true">
            </div>

            <div hc-input="data.currItem.creation_date"
                 hc-label="创建时间"
                 hc-readonly="true">
            </div>

            <div hc-input="data.currItem.last_updated_by"
                 hc-label="最后修改用户"
                 hc-readonly="true">
            </div>

            <div hc-input="data.currItem.last_update_date"
                 hc-label="最后修改时间"
                 hc-readonly="true">
            </div>
        </div>-->
    </div>

</div>

