<div hc-obj-prop>
    <div id="base" hc-box="" class="active">
        <div class="row">
            <div hc-input="data.currItem.areacode" hc-label="地区编码" hc-required="true"></div>

            <div hc-input="data.currItem.areaname" hc-label="地区名称" hc-required="true"></div>

            <div hc-input="data.currItem.areatype" hc-label="地区类型"
                 hc-type="checkbox"
                 hc-dict-code="areatype"
                 hc-required="true"></div>
        </div>

        <div class="row">
            <div hc-input="data.currItem.shorter_form" hc-label="地区简称"></div>

            <div hc-input="data.currItem.areaname_full" hc-label="地区全称"></div>

            <div hc-input="data.currItem.telzone" hc-label="电话区号"></div>

            <div hc-input="data.currItem.car_code" hc-label="车牌编码"></div>
        </div>

        <div class="row">
            <div hc-input="data.currItem.note" hc-label="备注" hc-type="textarea" hc-col-count="8"></div>
        </div>

    </div>
    <div id="indicator" hc-box="">
        <div class="row">
            <div hc-input="data.currItem.area" hc-label="面积" hc-unit="k㎡">
            </div>

            <div hc-input="data.currItem.total_people" hc-label="总人口" hc-unit="万人">
            </div>

            <div hc-input="data.currItem.gdp" hc-label="GDP" hc-unit="亿元">
            </div>
        </div>

        <div class="row">
            <div hc-input="data.currItem.people_gdp" hc-label="人均GDP" hc-unit="亿元">
            </div>

            <div hc-input="data.currItem.town_per_revenue" hc-label="城镇人年均收入" hc-unit="元">
            </div>

            <div hc-input="data.currItem.town_people" hc-label="城镇人口" hc-unit="万人">
            </div>
        </div>

        <div class="row">
            <div hc-input="data.currItem.rural_per_revenue" hc-label="农村人年均收入" hc-unit="元">
            </div>

            <div hc-input="data.currItem.rural_people" hc-label="农村人口" hc-unit="万人">
            </div>

            <div hc-input="data.currItem.male_ratio" hc-label="男性比例" hc-unit="%">
            </div>
        </div>

        <div class="row">
            <div hc-input="data.currItem.female_ratio" hc-label="女性比例" hc-unit="%">
            </div>

            <div hc-input="data.currItem.sale_amout" hc-label="社会消费品零售总额" hc-unit="亿元">
            </div>

            <div hc-input="data.currItem.sale_amout_ratio" hc-label="社商比" hc-unit="%">
            </div>
        </div>
    </div>
</div>