

<div class="ibox">
	<div class="ibox-title">
		<div class="ibox-tools pull-right">
			<button class="btn btn-white btn-sm" ng-click="searchBySql()">
				<i class="fa fa-search"></i> 查询
			</button>
			<button class="btn btn-white btn-sm" ng-click="refresh()">
				<i class="fa fa-refresh"></i> 刷新
			</button>
			<button class="btn btn-white btn-sm" ng-click="addData()">
				<i class="fa fa-minus"></i> 新增
			</button>
			<button class="btn btn-white btn-sm" ng-click="addData()">
				<i class="fa fa-plus"></i> 新增
			</button>
		</div>
	</div>

	<div class="ibox-content">
		<div id="headerGrid" style="height:400px;"></div>
		<div class="page_modal modal-open" page-pagination></div>
	</div>
</div>