<div class="bill-form" ng-controller="base_uomEdit">
    <form class="form-horizontal" id="saveform" local-storage ng-model="data.currItem">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h3>计量单位</h3>
                <button class="btn btn-toolbar" ng-hide="mainbtn.search" type="button" ng-click="search()"><i
                        class="fa fa-search"></i>查询
                </button>
                <button ng-click="new()" class="btn btn-toolbar" type="button"><i class="fa fa-file-o"></i>新增</button>
                <button ng-click="refresh()" class="btn btn-toolbar" type="button"><i class="fa fa-history"></i>刷新
                </button>
                <button ng-click="save()" class="btn btn-toolbar" type="button"><i class="fa fa-floppy-o"></i>保存
                </button>
                <button ng-click="delete()" class="btn btn-toolbar" type="button"><i class="fa fa-trash"></i>删除</button>
                <!-- <button class="btn btn-toolbar" type="button"><i class="fa fa-check-square-o">提交</i></button>-->
                <button ng-hide="true" class="btn btn-toolbar" type="button"><i class="fa fa-file-excel-o"></i>导出</button>
                <button ng-click="closefrm()" class="btn btn-toolbar" type="button"><i
                        class="fa fa-times"></i>关闭
                </button>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>基本信息</h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content icons-box">
                            <div class="row">
                                <div class="col-md-1">
                                    <label class="form-label-mini not-null">单位编码:</label>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control input-sm" type="text"
                                           data-rule-required="true" data-msg-required="单位编码不能空"
                                           ng-model="data.currItem.uom_code">
                                </div>
                                <div class="col-md-1">
                                    <label class="form-label-mini not-null">单位名称:</label>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control input-sm" type="text"
                                           data-rule-required="true" data-msg-required="单位名称不能空"
                                           ng-model="data.currItem.uom_name">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                    <label class="form-label-mini">备注:</label>
                                </div>
                                <div class="col-md-5">
									<textarea ng-model="data.currItem.note" rows="3"
                                              class="form-control noresize"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>




