
<div hc-edit-list>

    <div class="hc-box other-h">
        <div class="row">
            <div hc-input="data.currItem.base_ac_object_code"
                 hc-label="往来对象编码"
                 hc-required="true"></div>
            <div hc-input="data.currItem.base_ac_object_name"
                 hc-label="往来对象名称"
                 hc-required="true"></div>

            <div hc-input="data.currItem.remark"
                 hc-label="备注"
                 hc-col-count="4"></div>
        </div>
    </div>

</div>
