<div hc-edit-list>
	<div class="row">
		<div hc-input="data.currItem.employee_code"
			 hc-label="采购员"
			 hc-class-id="erpemployee"
			 hc-common-search="chooseBuyer"
			 hc-required="true">
		</div>
		<div hc-input="data.currItem.employee_name"
			 hc-readonly="true">
		</div>
		<div hc-input="data.currItem.remark"
			 hc-label="备注">
		</div>
		<div hc-input="data.currItem.isuseable"
			 hc-label="可用"
			 hc-type="checkbox">
		</div>
	</div>
	<div class="row">
		<div hc-input="data.currItem.created_by"
			 hc-label="创建人"
			 hc-readonly="true">
		</div>
		<div hc-input="data.currItem.creation_date"
			 hc-label="创建时间"
			 hc-readonly="true">
		</div>
	</div>
</div>