<div class="modal-content" local-storage ng-model="data.currItem">
    <div draggable-model class="modal-header" style="width: 100%">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                ng-click="cancel(e)"><span aria-hidden="true">&times;</span></button>
        <h3>历史</h3>
    </div>
    <div class="modal-body" style="width: 100%">
        <div>
            <div hc-grid="options_version" sg-options="options_version" sg-columns="columns_version"
                 style="width:100%;height:300px" class=""></div>
        </div>
        <div style="margin-top: 5px;">
            <!--<button class="btn btn-white btn-xs" style="margin-bottom: 5px;" type="button" ng-click="close()">关闭
            </button>-->
            <button class="btn btn-white btn-xs" style="margin-bottom: 5px;" type="button" ng-click="out_version()">
                输出版本
            </button>
            <button class="btn btn-white btn-xs" style="margin-bottom: 5px;" type="button" ng-click="del_version()">
                删除版本
            </button>
            <button class="btn btn-white btn-xs" style="margin-bottom: 5px;" type="button"
                    ng-click="open_version()">打开文件
            </button>
        </div>
    </div>
    <div class="modal-footer" style="width: 100%">
        <!--<a class="btn btn-sm btn-primary" ng-click="ok(e)">
            确定
        </a>-->
        <a class="btn btn-sm btn-default" ng-click="cancel(e)">
            关闭
        </a>
    </div>
    <button ng-hide="true" id='dropzone_add'> 弹出自带</button>
</div>
<style>
    .modal-body {
        padding: 15px;
    }

    .cpcwf-contant {
        margin-left: 5px;
        margin-right: 5px;
    }

    .subtitle {
        margin-right: 0px;
        border-bottom: 1px #e7eaec solid;
        padding-bottom: 10px;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .modal-dialog {
        width: 750px;
    }
</style>