<div hc-obj-prop>
    <!--基本信息-->
    <div id="base" hc-box="" class="active">

        <div class="row">
            <div hc-input="data.currItem.item_class_code"
                 hc-col-count="3"
                 hc-label="产品分类编码"
                 hc-required="true"
            ></div>

            <div hc-input="data.currItem.item_class_name"
                 hc-col-count="3"
                 hc-label="产品分类名称"
                 hc-required="true"
            ></div>

            <div hc-input="data.currItem.item_class_level"
                 hc-label="产品分类级别"
                 hc-col-count="3"
                 hc-dict-code="item_class_level"
                 hc-readonly="true"
            ></div>

            <div hc-input="data.currItem.item_usable"
                 hc-type="checkbox"
                 hc-label="有效"
            ></div>
        </div>

        <!--<div hc-box="参数设置">-->
            <!--<div hc-grid="gridOptions" hc-auto-height="grid"></div>-->
        <!--</div>-->

    </div>

    <!--其他-->
    <div id="other" hc-box="">
        <div class="row">
            <div hc-input="data.currItem.created_by_name"
                 hc-label="创建人"
                 hc-readonly="true">
            </div>

            <div hc-input="data.currItem.creation_date"
                 hc-type="date"
                 hc-readonly="true"
                 hc-col-count="3"
                 hc-label="创建时间"></div>
        </div>
        <div class="row">
            <div hc-input="data.currItem.last_updated_by_name"
                 hc-label="最后修改人"
                 hc-readonly="true">
            </div>

            <div hc-input="data.currItem.last_update_date"
                 hc-type="date"
                 hc-readonly="true"
                 hc-col-count="3"
                 hc-label="最后修改时间"></div>
        </div>
    </div>

</div>
