<div class="bill-form" ng-controller="po_itemEdit">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <div style="float: left;font-size: 18px">
                外购件物料维护
            </div>
            <div style="float:left">
                <div class="btn-group" style="position:absolute;z-index:30;width:100px;left:650px">

                </div>
                <button class="btn btn-toolbar" ng-hide="mainbtn.search" type="button" ng-click="search()">
                    <i class="fa fa-search"></i>查询
                </button>
                <button class="btn btn-toolbar" ng-disabled="mainbtn.add" type="button" ng-click="new()"><i
                        class="fa fa-file-o"></i>新增
                </button>
                <button class="btn btn-toolbar" type="button"
                        ng-click="save($event)"><i class="fa fa-floppy-o"></i>保存
                </button>
                <button class="btn btn-toolbar" type="button" ng-click="refresh()"><i
                        class="fa fa-history"></i>刷新
                </button>
                <button class="btn btn-toolbar" type="button"
                        ng-click="delete()"><i class="fa fa-trash"></i>删除
                </button>
                <button ng-click="closefrm()" class="btn btn-toolbar" type="button"><i
                        class="fa fa-times"></i>关闭
                </button>


            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox-title">
                    <h5>基本信息</h5>
                    <div ibox-tools></div>
                </div>
                <div id="content" class="first tab-content">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-1">
                                <label class="form-label-mini">外购件编码</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" ng-model="data.currItem.po_item_code" ng-readonly="true"
                                       class="input-sm form-control">
                            </div>
                            <div class="col-md-1">
                                <label class="form-label-mini not-null">物料名称</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" ng-model="data.currItem.po_item_name" ng-readonly="false"
                                       class="input-sm form-control">
                            </div>
                            <div class="col-md-5">
                                <div class="col-md-2">
                                    <label class="form-label-mini ">创建人</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" ng-readonly="true" ng-model="data.currItem.creator"
                                           class="input-sm form-control">
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label-mini">创建时间</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" ng-readonly="true"
                                           ng-model="data.currItem.create_time" class="input-sm form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <label class="form-label-mini not-null">单位</label>
                            </div>
                            <div class="col-md-1">
                                <div class="input-group">
                                    <input type="text" ng-readonly="false" class="input-sm form-control"
                                           ng-model="data.currItem.uom_id">
                                    <a class="input-group-addon" ng-click="selectnom()"><i
                                            class="fa fa-ellipsis-h"></i></a>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <input type="text" ng-model="data.currItem.uom_name" ng-readonly="false"
                                       class="input-sm form-control">
                            </div>
                            <div class="col-md-1 col-md-offset-1">
                                <label><input type="checkbox" ng-false-value="1"
                                                                         ng-true-value="2"
                                                                         ng-model="data.currItem.usable"
                                                                         ng-checked="data.currItem.usable"
                                                                         class="ng-pristine ng-untouched ng-valid">是否有效
                                </label>
                            </div>
                            <div class="col-md-5 col-md-offset-2">
                                <div class="col-md-2">
                                    <label class="form-label-mini ">最后修改人</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" ng-readonly="true" ng-model="data.currItem.updator"
                                           class="input-sm form-control">
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label-mini">最后修改时间</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" ng-readonly="true"
                                           ng-model="data.currItem.update_time" class="input-sm form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <label rows="1" class="form-label-mini ">备注</label>
                            </div>
                            <div class="col-md-11">
								<textarea ng-readonly="false"
                                          ng-model="data.currItem.note" rows="3"
                                          class="form-control noresize ng-pristine ng-valid ng-touched">
								</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
