<div hc-obj-prop>

    <div id="base" hc-box="" class="active">
        <div class="row">
            <div hc-input="data.currItem.code"
                 hc-label="引用编码"
                 hc-col-count="4">
            </div>
            <div hc-input="data.currItem.docname"
                 hc-label="文件名称"
                 hc-btn-click="chooseFile()"
                 hc-col-count="4">
            </div>
        </div>
        
        <div class="row">
            <div hc-input="data.currItem.note"
                 hc-label="备注"
                 hc-type="textarea"
                 hc-col-count="8">
            </div>     
        </div>
    </div>
</div>