<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-1">
            <label class="form-label-mini">仓库编码</label>
        </div>
        <div class="col-md-2">
            <input type="text" ng-readonly="true" ng-model="data.currItem.warehouse_code"
                   class="input-sm form-control">
        </div>
        <div class="col-md-1">
            <label class="form-label-mini">仓库名称</label>
        </div>
        <div class="col-md-2">
            <input type="text" ng-readonly="true" ng-model="data.currItem.warehouse_name"
                   class="input-sm form-control">
        </div>
        <div class="col-md-1">
            <label class="form-label-mini">仓库类型</label>
        </div>
        <div class="col-md-2">
            <input type="text" ng-readonly="true" ng-model="data.currItem.warehouse_type"
                   class="input-sm form-control">
        </div>
        <div class="col-md-1">
            <label class="form-label-mini">仓库属性</label>
        </div>
        <div class="col-md-2">
            <input type="text" ng-readonly="true" ng-model="data.currItem.warehouse_property"
                   class="input-sm form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label class="form-label-mini">仓库使用者</label>
        </div>
        <div class="col-md-2">
            <input type="text" ng-readonly="true" ng-model="data.currItem.is_service"
                   class="input-sm form-control">
        </div>
        <div class="col-md-1">
            <label class="form-label-mini">仓库层级</label>
        </div>
        <div class="col-md-2">
            <input type="text" ng-readonly="true" ng-model="data.currItem.is_zb"
                   class="input-sm form-control">
        </div>
        <div class="col-md-1">
            <label class="form-label-mini">资产所有权</label>
        </div>
        <div class="col-md-2">
            <input type="text" ng-readonly="true" ng-model="data.currItem.asset_property"
                   class="input-sm form-control">
        </div>
        <div class="col-md-1">
            <label class="form-label-mini">管理责任人</label>
        </div>
        <div class="col-md-2">
            <input type="text" ng-readonly="true" ng-model="data.currItem.management_people"
                   class="input-sm form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label class="form-label-mini">所属部门</label>
        </div>
        <div class="col-md-2">
            <input type="text" ng-readonly="true" ng-model="data.currItem.code"
                   class="input-sm form-control">
        </div>
        <div class="col-md-1">
            <label class="form-label-mini">所属部门名称</label>
        </div>
        <div class="col-md-2">
            <input type="text" ng-readonly="true" ng-model="data.currItem.orgname"
                   class="input-sm form-control">
        </div>
        <div class="col-md-1">
            <label class="form-label-mini">客户</label>
        </div>
        <div class="col-md-2">
            <input type="text" ng-readonly="true" ng-model="data.currItem.customer_code"
                   class="input-sm form-control">
        </div>
        <div class="col-md-1">
            <label class="form-label-mini">客户名称</label>
        </div>
        <div class="col-md-2">
            <input type="text" ng-readonly="true" ng-model="data.currItem.customer_name"
                   class="input-sm form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <label class="form-label-mini">仓库地址</label>
        </div>
        <div class="col-md-7">
            <input type="text" ng-readonly="true" ng-model="data.currItem.warehouse_address"
                   class="input-sm form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label class="form-label-mini">说明</label>
        </div>
        <div class="col-md-7">
            <input type="text" ng-readonly="true" ng-model="data.currItem.note"
                   class="input-sm form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <label class="form-label-mini">创建人</label>
        </div>
        <div class="col-md-2">
            <input type="text" ng-readonly="true" ng-model="data.currItem.created_by"
                   class="input-sm form-control">
        </div>
        <div class="col-md-1">
            <label class="form-label-mini">创建时间</label>
        </div>
        <div class="col-md-2">
            <input type="text" ng-readonly="true" ng-model="data.currItem.creation_date"
                   class="input-sm form-control">
        </div>
        <div class="col-md-1">
            <label class="form-label-mini">修改人</label>
        </div>
        <div class="col-md-2">
            <input type="text" ng-readonly="true" ng-model="data.currItem.last_updated_by"
                   class="input-sm form-control">
        </div>
        <div class="col-md-1">
            <label class="form-label-mini">修改时间</label>
        </div>
        <div class="col-md-2">
            <input type="text" ng-readonly="true" ng-model="data.currItem.last_update_date"
                   class="input-sm form-control">
        </div>
    </div>
</div>