<div hc-diy-page style="height:98%;display: flex;">
    <div hc-box class="flex1 flex-column">
        <div hc-grid="gridOptions" class="flex1"></div>
    </div>
    <div hc-box class="flex1 flex-row flex-between"  style="height:98%;">
        <div hc-box="交易公司" class="ibox-title flex-column" style="width: 49%;">
            <div hc-box hc-grid="gridOptionsDeal" class="flex1"></div>
        </div>
        <div hc-box="账套组织" class="ibox-title flex-column" style="width: 49%;">
            <div hc-box hc-grid="gridOptionsAccount" class="flex1"></div>
        </div>
    </div>
</div>
