<div hc-diy-page>
    <div class="p-w-sm flex1 flex-column">
        <div hc-grid="gridOptions" class="m-t-xs flex1"></div>
    </div>
    <!-- <div class="row other-h m-t-xs">
        <div hc-button="addTechnology()"
             hc-icon="fa fa-plus"
             class="addadndel"
             style="margin-left: 15px;"></div>
        <div hc-button="delTechnology()"
             hc-icon="fa fa-minus"
             class="addadndel"></div>
    </div> -->
</div>
<style>
    .row{
        margin: 5px 0px;
    }
    .addadndel{
        margin-left: 2px;
    }
    .page_modal{
        padding: 0px;
    }
</style>