<div hc-obj-prop>
    <div id="base" class="active">
        <div class="row">
            <div hc-input="data.currItem.project_code"
                 hc-label="项目编码"
                 hc-class-id="epm_project"
                 hc-common-search="commonSearchSettingOfEpmProject"
                 hc-required="true">
            </div>

            <div hc-input="data.currItem.project_name"
                 hc-label="项目名称"
                 hc-col-count="4"
                 hc-readonly="true">
            </div>
            <div hc-input="data.currItem.project_source"
                 hc-label="工程类型"
                 hc-dict-code="epm.project_source"
                 hc-readonly="true" ></div>
        </div>

        <div class="row">
            <div hc-input="data.currItem.report_time"
                 hc-label="报备时间"
                 hc-type="time"
                 hc-readonly="true">
            </div>
            <div hc-input="data.currItem.signup_start_time"
                 hc-label="报名时间"
                 hc-type="date"
                 hc-readonly="true">
            </div>
            <div hc-input="data.currItem.signup_plan_people"
                 hc-label="报名经办人"
                 hc-readonly="true">
            </div>
            <div hc-input="data.currItem.signup_method"
                 hc-label="报名方式"
                 hc-readonly="true">
            </div>
        </div>

        <div id="req" hc-box="开标信息" style="padding: 0px">
            <div class="row">
                <div hc-input="data.currItem.bid_open_time"
                     hc-label="开标时间"
                     hc-type="date"
                     hc-required="true">
                </div>
                <div hc-input="data.currItem.bid_open_method"
                     hc-label="开标方式"
                     hc-dict-code="epm.bid_open_method"
                     hc-required="true">
                </div>
                <div hc-input="data.currItem.bid_open_primary"
                     hc-label="开标授权人"
                     hc-class-id="scpuser"
                     hc-common-search="commonSearchSettingOfEpmProjectBidOpenPrimary"
                     hc-required="true">
                </div>
                <div hc-input="data.currItem.bid_open_attendee"
                     hc-label="开标出场人"
                     hc-common-search="commonSearchSettingOfEpmProjectBidOpenAttendee"
                     hc-required="true">
                </div>
            </div>

            <div class="row">
                <div hc-input="data.currItem.bid_open_address"
                     hc-label="开标地点"
                     hc-col-count="8"
                     hc-required="true">
                </div>
            </div>

        </div>

        <div hc-box="竞争对手信息"></div>
        <div hc-grid="gridOptions"  class="flex1 hc-box"></div>
    </div>
</div>
