<div hc-obj-prop>
    <!--基本信息-->
    <div id="base" class="active">
        <div hc-box>
            <div class="row">
                <div hc-label="申请单号" hc-input="data.currItem.proj_enable_code" hc-readonly="true"></div>

                <div hc-label="申请日期" hc-input="data.currItem.createtime" hc-type="date" hc-readonly="true"></div>

                <div hc-label="申请人" hc-input="data.currItem.creator_name" hc-readonly="true"></div>

                <div hc-label="单据状态" hc-input="data.currItem.stat" hc-dict-code="stat" hc-readonly="true"></div>
            </div>
            <div class="row">
                <div hc-label="项目编码" hc-input="data.currItem.project_code" hc-class-id="epm_project" hc-common-search="commonSearchSetting.epmProject" hc-required="true"></div>
                
                <div hc-label="项目名称" hc-input="data.currItem.project_name" hc-col-count="4" hc-readonly="true"></div>
                     
                <div hc-label="所属事业部" hc-input="data.currItem.division_id"hc-dict-code="epm.division" hc-readonly="true"></div>
            </div>
            <div class="row">
                <div hc-label="工程所在地" hc-input="data.currItem.area_full_name" hc-readonly="true"></div>
                     
                <div hc-label="详细地址" hc-input="data.currItem.address" hc-col-count="4" hc-readonly="true"></div>
                    
                <div hc-label="本地/异地" hc-input="data.currItem.is_local" hc-dict-code="epm.is_local" hc-readonly="true"></div>
            </div>
            <div class="row">
                <div hc-label="甲方名称" hc-input="data.currItem.party_a_name" hc-col-count="4" hc-readonly="true"></div>
                    
               <div hc-label="乙方名称" hc-input="data.currItem.party_b_name" hc-col-count="4" hc-readonly="true"></div>  
            </div>
            <div class="row">
               <div hc-label="前期失效原因" hc-input="data.currItem.disable_reason" hc-col-count="8" hc-readonly="true"></div>   
            </div>
            <div class="row">
                <div hc-label="恢复生效说明" hc-input="data.currItem.enable_reason" hc-col-count="8" hc-required="true"></div>
             </div>
        </div>
    </div>
</div>