<div hc-obj-list>
    <!-- 查询条件面板-->
    <hc-obj-list-search-panel>
        <div class="row out_bill_reprot_view">
            <div hc-input="searchObj.invbillno"
                 hc-label="ERP出库单号"
            ></div>

            <div
                    hc-label="发货日期"
                    hc-input="searchObj.date_invbill_start"
                    hc-change="checkDate('date_invbill_start')"
                    hc-can-delete="true"
                    hc-type="date"
                    hc-col-count="1"
            ></div>
            <div
                    hc-label="至"
                    hc-input="searchObj.date_invbill_end"
                    hc-change="checkDate('date_invbill_end')"
                    hc-can-delete="true"
                    hc-type="date"
                    hc-col-count="1"
            ></div>

            <div hc-input="searchObj.sa_salebillno"
                 hc-label="要货单号"
            ></div>

            <div hc-input="searchObj.order_type"
                 hc-label="订单类型"
                 hc-dict-code="epm.bill_type"
                 hc-can-delete="true"
            ></div>
        </div>

        <div class="row">
            <div hc-input="searchObj.customer_code"
                 hc-label="客户编码"
                 hc-class-id="customer_org"
                 hc-common-search="commonSearch.customer_org"
                 hc-can-delete="true"
            ></div>

            <div hc-input="searchObj.customer_name"
                 hc-label="客户名称"
            ></div>

            <div hc-input="searchObj.contract_code"
                 hc-label="合同编码"
                 hc-class-id="epm_project_contract"
                 hc-common-search="commonSearch.contract_code"
                 hc-can-delete="true"
            ></div>

            <div hc-input="searchObj.contract_name"
                 hc-label="合同名称"
            ></div>
        </div>

        <div class="row">
            <div hc-input="searchObj.legal_entity_code"
                 hc-label="法人客户编码"
                 hc-class-id="inv_out_bill_head"
                 hc-common-search="commonSearch.legal_entity"
                 hc-can-delete="true"
            ></div>

            <div hc-input="searchObj.legal_entity_name"
                 hc-label="法人客户名称"
            ></div>

            <div hc-input="searchObj.delivery_base"
                 hc-label="发货基地"
                 hc-class-id="inv_out_bill_head"
                 hc-common-search="commonSearch.epm_discount_apply"
                 hc-can-delete="true"
            ></div>

            <div hc-input="searchObj.item_code"
                 hc-label="产品编码"
            ></div>
        </div>

    </hc-obj-list-search-panel>
</div>


<style>
    .out_bill_reprot_view [hc-input="searchObj.date_invbill_start"] {
          width: calc(13% + 15px);
		margin-right: 0px;
    }

    .out_bill_reprot_view [hc-input="searchObj.date_invbill_end"] {
          width: calc(12% - 35px);
    }

    .out_bill_reprot_view [hc-input="searchObj.date_invbill_end"] label {
          width: 13px;
		min-width: 0px;
    }
</style>