<!--工程费用类别从表的页面-->
<div hc-obj-prop>
    <div id="base" hc-box="" class="active">
        <div class="row">
            <div hc-input="data.currItem.fee_type_code"
                 hc-label="费用类别编码"></div>
            <div hc-input="data.currItem.fee_type_name"
                 hc-label="费用类别名称"></div>
        </div>
        <div class="row">
            <div hc-input="data.currItem.note"
                 hc-label="备注"
                 hc-col-count="4"></div>

            <div hc-input="data.currItem.usable"
                 hc-label="可用"
                 hc-type="checkbox"
                 hc-true-value="2"
                 hc-false-value="1">

            </div>

        </div>
    </div>

</div>