<div hc-diy-page>
    <div hc-box hc-init="doInits()">
        <div class="row">
            <div hc-label="报表日期" hc-input="data.currItem.date" hc-type="date"></div>

            <!-- <div hc-label="报表主题" hc-input="data.currItem.table_name" hc-readonly="true"></div> -->

            <div hc-label="所属事业部" hc-input="data.currItem.division_id" hc-dict-code="epm.division" hc-readonly="true"></div>

            <!-- 固定文本 -->
        <div class="market_task_analyze_text">单位：万元</div>
        </div>
    </div>
    <div hc-box class="flex1 flex-column" style="max-height: 230px;">
        <div hc-grid="gridOptions" class="flex1"></div>
    </div>
    <div hc-box class="flex1 flex-row flex-between" id="market_task_analyze_big_div">
        <div hc-box="2019年出货任务完成率" class="ibox-title flex-column" style="width: 49%;">
            <div  class="flex1">
                <hc-chart hc-chart-option="chartOption_out" hc-chart-as="out_chart" style="height: 90%;width: 95%;"></hc-chart>
            </div>
        </div>
        <div hc-box="2019年签单任务完成率" class="ibox-title flex-column" style="width: 49%;">
            <div  class="flex1">
                <hc-chart hc-chart-option="chartOption_in" hc-chart-as="in_chart" style="height: 90%;width: 95%;"></hc-chart>
            </div>
        </div>
    </div>
</div>
<style>
    .market_task_analyze_text{/* 文本样式 */
        font-size: 13px; 
        display: inline-block;
        line-height: 30px;
        padding-right: 65px;
    }
</style>