<div hc-obj-list>
    <!-- 查询条件面板-->
    <hc-obj-list-search-panel>
        <div class="row">
            <div hc-input="searchObj.discount_apply_code"
                 hc-label="折扣单号"
            ></div>

            <div
                    hc-label="申请日期"
                    hc-input="searchObj.createtime"
                    hc-change="checkDate('createtime')"
                    hc-can-delete="true"
                    hc-type="date"
            ></div>
            <div
                    hc-label="至"
                    hc-input="searchObj.createtime_end"
                    hc-change="checkDate('createtime_end')"
                    hc-can-delete="true"
                    hc-type="date"
            ></div>

            <div hc-input="searchObj.contract_type"
                 hc-label="签约方式"
                 hc-dict-code="epm.contract_type"
                 hc-can-delete="true"
            ></div>
        </div>

        <div class="row">
            <div hc-input="searchObj.customer_code"
                 hc-label="客户编码"
                 hc-class-id="customer_org"
                 hc-common-search="commonSearch.customer_org"
                 hc-can-delete="true"
            ></div>

            <div hc-input="searchObj.customer_name"
                 hc-label="客户名称"
            ></div>

            <div hc-input="searchObj.trading_company_name"
                 hc-label="交易公司"
                 hc-class-id="epm_discount_apply"
                 hc-common-search="commonSearch.trading_company_name"
                 hc-can-delete="true"
            ></div><!-- -->

            <div hc-input="searchObj.billing_unit_name"
                 hc-label="开票单位"
                 hc-class-id="epm_discount_apply"
                 hc-common-search="commonSearch.billing_unit_name"
                 hc-can-delete="true"
            ></div>
        </div>

        <div class="row">
            <div hc-input="searchObj.contract_code"
                 hc-label="合同编码"
                 hc-class-id="epm_project_contract"
                 hc-common-search="commonSearch.contract_code"
                 hc-can-delete="true"
            ></div>

            <div hc-input="searchObj.contract_name"
                 hc-label="合同名称"
            ></div>

            <div hc-input="searchObj.project_code"
                 hc-label="项目编码"
                 hc-class-id="epm_project"
                 hc-common-search="commonSearch.project_code"
                 hc-can-delete="true"
            ></div>

            <div hc-input="searchObj.project_name"
                 hc-label="项目名称"
            ></div>
        </div>

        <div class="row">
          <div hc-input="searchObj.short_name"
               hc-label="客户简称"
          ></div>
          <div hc-input="searchObj.item_code"
               hc-label="产品编码"
          ></div>
          <div hc-input="searchObj.item_name"
               hc-label="产品名称"
          ></div>
          <div hc-input="searchObj.is_local"
               hc-label="本地/异地"
               hc-dict-code="epm.is_local"
               hc-can-delete="true"
          ></div>
        </div>

    </hc-obj-list-search-panel>
</div>
