<!-- 
 * 网点档案
 * 2020/03/04
 * zengjinhua
   -->
  <div hc-obj-prop  ng-class="'branch-record-valid-' + data.currItem.branch_valid">
    <!--基本信息-->
    <div id="base" class="active flex-column">
        <div hc-box class="other-h">
            <div class="row">
                <div hc-label="网点编码" hc-input="data.currItem.branch_message_code" hc-readonly="true"></div>

                <div hc-label="网点名称" hc-input="data.currItem.branch_message_name" hc-col-count="4" hc-required="true"></div>

                <div hc-label="有效状态" hc-input="data.currItem.branch_valid" hc-dict-code="valid" hc-readonly="true"></div>
            </div>

            <div class="row">
                <div hc-label="营业执照名称" hc-input="data.currItem.business_name" hc-col-count="4" hc-required="true"></div>

                <div hc-label="联系人" hc-input="data.currItem.linkman" hc-required="true"></div>
                
                <div hc-label="联系人电话" hc-input="data.currItem.phone" hc-required="true"></div>
            </div>

            <div class="row">
                <div hc-label="所属经销商" hc-input="data.currItem.customer_code" hc-class-id="customer_org" hc-common-search="commonSearchCustomerCode" hc-required="true" hc-readonly="isCustomerCode"></div>

                <div hc-input="data.currItem.customer_name" hc-required="true"></div>

                <div hc-label="网点法人" hc-input="data.currItem.branch_legal_name" hc-col-count="4" hc-required="true"></div>
            </div>

            <div class="row">
                <div hc-label="地址" hc-input="data.currItem.address" hc-col-count="8"></div>
            </div>

            <div class="row">
                <div hc-label="备注" hc-input="data.currItem.note" hc-col-count="8"></div>
            </div>
        </div>
    </div>
    <div id="project" class="flex-column flex1">
        <div hc-box hc-grid="gridOptions" class="flex1" style="min-height:204px;"></div>
    </div>
</div>
<style>
    /* 未生效 */
	.branch-record-valid-1 [hc-input="data.currItem.branch_valid"] input {
		color: gray;
	}
	/* 已生效 */
	.branch-record-valid-2 [hc-input="data.currItem.branch_valid"] input {
		color: green;
	}
	/* 已失效 */
	.branch-record-valid-3 [hc-input="data.currItem.branch_valid"] input {
		color: red;
	}
</style>

