<div hc-obj-prop>
    <!--基本信息-->
    <div id="base" class="active">
        <div hc-box>
            <div class="row">
                <div hc-input="data.currItem.contract_code"
                     hc-label="合同编码"
                     hc-readonly="true"></div>
                <div hc-input="data.currItem.contract_name"
                     hc-label="合同名称"
                     hc-col-count="4"
                     hc-required="true"></div>
                <div hc-input="data.currItem.audit_stat"
                     hc-label="审核状态"
                     hc-if="data.statShow == 1"
                     hc-readonly="true"></div>
                <div hc-input="data.currItem.valid"
                     hc-label="有效状态"
                     hc-if="data.statShow == 2"
                     hc-dict-code="valid"
                     hc-readonly="true"></div>
            </div>
            <div class="row">
                <div hc-input="data.currItem.project_code"
                     hc-label="报备项目编码"
                     hc-required="data.supplementaryRead == 1"
                     hc-readonly="data.supplementaryRead == 2"
                     hc-change="changeProject()"
                     hc-class-id="epm_project"
                     hc-common-search="searchObjectEpmProject"></div>
                <div hc-input="data.currItem.project_name"
                     hc-label="报备项目名称"
                     hc-col-count="4"
                     hc-readonly="true"></div>
                <div hc-input="data.currItem.completed_type"
                     hc-label="结案状态"
                     hc-readonly="true"
                     hc-dict-code="epm.contract_completed_type"></div>
            </div>
            <div class="row">
               <div hc-input="data.currItem.customer_code"
                    hc-label="经销商编码"
                    hc-readonly="true"></div>
               <div hc-input="data.currItem.customer_name"
                    hc-label="经销商名称"
                    hc-col-count="4"
                    hc-readonly="true"></div>
                <div hc-input="data.currItem.completed_date"
                     hc-label="结案日期"
                     hc-readonly="true"
                     hc-type="date"></div>
            </div>
            <div class="row">
                    <div hc-input="data.currItem.address"
                    hc-label="工程地址"
                    hc-col-count="4"
                    hc-readonly="true"></div>
               <div hc-input="data.currItem.is_local"
                     hc-label="本地/异地"
                     hc-dict-code="epm.is_local"
                     hc-readonly="true"></div>
               <div hc-input="data.currItem.report_time"
                     hc-label="项目申报日期"
                     hc-type="time"
                     hc-readonly="true"></div>
          </div>
          <div class="row">
               <div hc-input="data.currItem.contract_unit"
                    hc-label="工程签约单位"
                    hc-required="true"></div>
               <div hc-input="data.currItem.trading_company_name"
                    hc-label="交易公司"
                    hc-required="data.supplementaryRead == 1"
                    hc-readonly="data.supplementaryRead == 2"
                    hc-class-id="epm_trading_company"
                    hc-common-search="searchObjectScporg"></div>
               <div hc-input="data.currItem.billing_unit_name"
                    hc-label="开票单位"
                    hc-required="data.supplementaryRead == 1"
                    hc-readonly="data.supplementaryRead == 2"
                    hc-class-id="epm_project_contract"
                    hc-common-search="searchObjectBillingUnitName"></div>
                <div hc-input="data.currItem.first_delivery_date"
                     hc-label="首次发货日期"
                     hc-type="date"
                     hc-readonly="true"></div>
            </div>
            <div class="row">
               <div hc-input="data.currItem.remark"
                     hc-label="备注"
                     hc-col-count="6"
                     hc-type="textarea"></div>
                <div hc-input="data.currItem.is_custom"
                     hc-change="changeCustom()"
                     hc-label="纯定制"
                     hc-true-value="2"
                     hc-false-value="1"
                     hc-type="checkbox"
                     hc-col-count="1"></div>
                <div hc-input="data.currItem.strategic_related"
                     hc-label="战略工程相关"
                     hc-true-value="2"
                     hc-false-value="1"
                     hc-type="checkbox"
                     hc-readonly="true"
                     hc-col-count="1"></div>
            </div>
            <div class="row" hc-if="data.currItem.strategic_related == 2">
                <div hc-input="data.currItem.strategic_project_code"
                        hc-label="战略工程信息"
                        hc-readonly="true"></div>
                    <div hc-input="data.currItem.strategic_project_name"
                        hc-readonly="true"></div>
                    <div hc-input="data.currItem.manager"
                        hc-label="战略项目经理"
                        hc-readonly="true"></div>
                    <div hc-input="data.currItem.strategic_contract_code_name"
                        hc-label="战略协议信息"
                        hc-readonly="true"></div>
            </div>
            <div class="row" hc-if="data.currItem.main_contract_id > 0">
                <div hc-input="data.currItem.main_contract_code"
                     hc-label="主合同编码"
                     hc-readonly="true"
                     hc-open-state="{
                        name:'epmman.epm_project_contract_prop',
                        params : {
                            id : data.currItem.main_contract_id,
                            openedByListPage : 1
                        }
                     }"></div>
                <div hc-input="data.currItem.main_contract_name"
                     hc-label="主合同名称"
                     hc-col-count="6"
                     hc-open-state="{
                        name:'epmman.epm_project_contract_prop',
                        params : {
                            id : data.currItem.main_contract_id,
                            openedByListPage : 1
                        }
                     }"
                     hc-readonly="true"></div>
            </div>
            <div class="row" hc-if="data.currItem.audit_stat == '审核拒绝'">
               <div hc-input="data.currItem.reject_reason"
                     hc-label="拒绝理由"
                     hc-col-count="8"
                     hc-type="textarea"></div>
            </div>
        </div>
        <div hc-box="合同金额、签订信息">
            <div class="row">
               <div hc-input="data.currItem.currency_name"
                    hc-label="币别"
                    hc-class-id="base_currency"
                    hc-common-search="searchObjectBaseCurrency"></div>
               <div hc-input="data.currItem.contract_amt"
                     hc-label="合同总额"
                     hc-required="true"
                     hc-type="money"></div>
               <div hc-label="报备预估金额" 
                    hc-input="data.currItem.predict_sales_amount" 
                    hc-type="money" 
                    hc-readonly="true"></div>
            </div>
            <div class="row">
               <div hc-input="data.currItem.signed_date"
                    hc-label="签订时间"
                    hc-required="true"
                    hc-type="date"></div>
               <div hc-input="data.currItem.signed_location"
                    hc-label="签订地点"
                    hc-required="true"></div>
               <div hc-input="data.currItem.contract_effect_date"
                    hc-label="合作开始时间"
                    hc-change="changeDate()"
                    hc-type="date"></div>
               <div hc-input="data.currItem.contract_expire_date"
                    hc-label="合作结束时间"
                    hc-change="changeDate()"
                    hc-type="date"></div>
            </div>
        </div>
    </div>
    <!--产品清单-->
    <div id="product" class="h100 flex-column">
        <div hc-box hc-if-start="!isMultipleDiscountTickets">
            <div class="row">
               <div
                    hc-label="折扣单号"
                    hc-input="data.currItem.discount_apply_code"
                    hc-readonly="true"
               ></div>
                <div hc-label="订单产品线"
                     hc-readonly="data.supplementaryRead == 2"
                     hc-input="data.currItem.order_pdt_line"
					 hc-select-options="order_pdt_lines"
					 hc-change="epmman.doAfterChangeOrderPdtLineInDiscount({ gridOptions: gridOptions_product })"
					 hc-after-delete="epmman.doAfterChangeOrderPdtLineInDiscount({ gridOptions: gridOptions_product })"></div>
                <div hc-label="签约方式"
                     hc-input="data.currItem.contract_type"
                     hc-readonly="true"
                     hc-dict-code="epm.contract_type"></div>
                <div hc-label="OA审核状态"
                     hc-input="data.currItem.oa_audit_stat"
                     hc-readonly="true"
                     hc-dict-code="epm.oa_audit_stat"></div>
            </div>
            <div class="row">
                <div hc-label="客户信息"
                     hc-input="data.currItem.customer_code"
                     hc-required="true"
                     hc-readonly="true"
                     hc-class-id="customer_org"
                     hc-common-search="commonSearch.customer_code">
                </div>
                <div hc-input="data.currItem.customer_name"
                     hc-readonly="true"></div>
                <div hc-label="交易公司"
                     hc-readonly="true"
                     hc-input="data.currItem.trading_company_name"></div>
                <div hc-label="开票单位"
                     hc-readonly="true"
                     hc-input="data.currItem.billing_unit_name"></div>
            </div>
			
			<div class="row">
				<div
					hc-label="折扣类型"
					hc-input="data.currItem.discount_type"
					hc-dict-code="epm.discount_type"
				></div>

				<div
					hc-label="总体积"
					hc-input="data.currItem.total_volume"
					hc-type="volume"
					hc-readonly="true"
				></div>

				<div
					hc-label="总数量"
					hc-input="data.currItem.total_qty"
					hc-type="number"
					hc-readonly="true"
				></div>

				<div
					hc-label="折后总金额"
					hc-input="data.currItem.discounted_amount"
					hc-type="money"
					hc-readonly="true"
				></div>
			</div>

			<div class="row">
				<div
					hc-label="审批折扣率"
                    hc-input="data.currItem.discount_rate"
                    hc-type="number"
					hc-readonly="true"
                    ></div>
                    <div hc-label="折扣有效期至"
                         hc-input="data.currItem.discount_valid_date"
                              hc-type="date"
                              hc-date-options="{ startDate: 'today' }"
                         hc-change="changeDiscountDate()"></div>
                    <div hc-label="所属事业部"
                         hc-input="data.currItem.division_id"
                         hc-dict-code="epm.division"
                         hc-readonly="true"></div>
                    <div hc-input="data.currItem.is_cal_ad"
                         hc-label="计广告费"
                         hc-type="checkbox"
                         hc-readonly="true"
                         hc-col-count="1"></div>
                    <div hc-input="data.currItem.is_cal_second_year_discount"
                         hc-label="计次年折扣"
                         hc-type="checkbox"
                         hc-readonly="true"
                         hc-col-count="1"></div>
			</div>
          <div class="row">
               <div hc-label="申请说明"
                    hc-input="data.currItem.apply_reason"
                    hc-col-count="8"></div>
          </div>
          <div class="row">
                <div hc-input="data.currItem.price_contain_tax"
                     hc-label="价格含税"
                     hc-dict-code="yesno"></div>
                <div hc-input="data.currItem.price_contain_tax_desc"
                     hc-label="含税说明"></div>
                <div hc-input="data.currItem.price_contain_freight"
                     hc-label="价格含运费"
                     hc-dict-code="yesno"></div>
                <div hc-input="data.currItem.price_contain_freight_desc"
                     hc-label="含运费说明"></div>
            </div>
            <div class="row" hc-if="data.currItem.manager_opinion.length > 0">
               <div hc-input="data.currItem.manager_opinion"
                    hc-label="项目经理意见"
                    hc-col-count="8"></div>
            </div>
            <div class="row" style="align-items: center;" ng-show="userbean.hasRole('item_cost')">
                <div style="font-size: 13px; display: flex; justify-content: flex-end;color: #F35A05;" class="hc-w1">
                    毛 利 率 信 息 参 考 ：
                </div>
                <div
                        hc-label="工程服务商毛利率"
                        hc-input="data.currItem.dealer_gm"
                        hc-type="number"
                        hc-readonly="true"
                ></div>

                <div
                        hc-label="事业部内结毛利率"
                        hc-input="data.currItem.division_gm"
                        hc-type="number"
                        hc-readonly="true"
                ></div>

                <div
                        hc-label="价值链毛利率"
                        hc-input="data.currItem.value_chain_gm"
                        hc-type="number"
                        hc-readonly="true"
                ></div>
            </div>
        </div>
        <div hc-box hc-if-end class="flex1 flex-column" style="min-height: 200px;">
            <div hc-tab="item_date" hc-tab-change="onObjTabChange(params)"></div>
            <div hc-tab-page class="flex1">
                <!--产品清单-->
                <div id="detailed" class="active">
                    <div hc-grid="gridOptions_product" class="flex1"></div>
                </div>
                <!--提货计划-->
                <div id="deliveryPlan" >
                    <div hc-grid="gridOptionDseliveryPlan" class="flex1"></div>
                </div>
            </div>
        </div>
        <div hc-box hc-if="isMultipleDiscountTickets" class="flex1 flex-column">
            <!-- 多个折扣单 -->
              <div hc-grid="gridOptionsDiscount" class="flex1"></div>
          </div>
        <!--<div hc-box="产品清单">
        </div>
        <div hc-box class="flex1 flex-column">
            <div hc-grid="gridOptions_product" class="flex1"></div>
        </div>
        <div hc-box="取消产品" ng-show="data.cancel==1" class="flex1 flex-column">
            <div hc-grid="gridOptions_cancel" class="flex1"></div>
        </div>-->
    </div>
    <div hc-modal="dateOfDelivery">
        <div class="row" hc-box>
            <div hc-label="产品编码"
                 hc-input="before_line.item_code"
                 hc-col-count="4"
                 hc-readonly="true"></div>
            <div hc-label="合同数量"
                 hc-input="before_line.contract_qty"
                 hc-type="number"
                 hc-readonly="true"></div>
        </div>
        <div class="row" hc-box>
            <div hc-label="产品名称"
                 hc-input="before_line.item_name"
                 hc-col-count="6"
                 hc-readonly="true"></div>
        </div>
        <div hc-box style="display: flex; flex: 1; flex-direction: column;">
            <div hc-grid="gridOptionDseliveryPlanLine" style="flex: 1;"></div>
        </div>
    </div>
</div>
<style>
    .oneis{
        padding-left: 60px;
        padding-top: 3px;
    }
    [hc-input="data.currItem.main_contract_code"] input,
    [hc-input="data.currItem.reject_reason"] textarea,
    [hc-input="data.currItem.reject_reason"] label,
    [hc-input="data.currItem.discount_valid_date"],
	[hc-input="data.currItem.discount_valid_date"] input {
        color: #F35A05;
    }
    [hc-input="data.currItem.dealer_gm"] ,
    [hc-input="data.currItem.division_gm"] ,
    [hc-input="data.currItem.value_chain_gm"] {
        margin-right: 0px;
        width: calc(25% + 8px);
    }
    [hc-input="data.currItem.dealer_gm"] label,
    [hc-input="data.currItem.division_gm"] label,
    [hc-input="data.currItem.value_chain_gm"] label {
        width: 106px;
        color: #F35A05;
    }
    [hc-input="data.currItem.dealer_gm"] input,
    [hc-input="data.currItem.division_gm"] input,
    [hc-input="data.currItem.value_chain_gm"] input {
        color: #F35A05;
    }
</style>




