<!--业务渠道维护-编辑列表页 -->
<!--author:shenguocheng-->
<!--since 2019-08-06-->
<div hc-edit-list>
    <div id="base" class="active">
        <div class="hc-box  other-h">
            <div class="row">
                <div hc-input="data.currItem.sales_channel"
                     hc-label="销售渠道"
                     hc-dict-code="sales.channel"
                     hc-required="true">
                </div>

                <div hc-input="data.currItem.bill_type"
                     hc-label="订单类型"
                     hc-dict-code="epm.bill_type"
                     hc-required="true">
                </div>

                <div hc-input="data.currItem.business_type"
                     hc-label="业务类型"
                     hc-dict-code="epm.business_type"
                     hc-required="true">
                </div>
            </div>

            <div class="row">
                <div hc-input="data.currItem.business_channel"
                     hc-label="业务渠道"
                     hc-dict-code="epm.business_channel"
                     hc-required="true">
                </div>

                <div hc-input="data.currItem.is_promotional"
                     hc-label="含促销政策"
                     hc-type="checkbox"
                     hc-true-value="2"
                     hc-false-value="1"
                     class="oneis">
                </div>

            </div>

        </div>
    </div>
</div>
<style>
    .oneis {
        padding-left: 60px;
        padding-top: 3px;
    }
</style>