<div hc-diy-page>
    <div class="title">详细定位</div>
    <div class="row">
        <div hc-label="地址" hc-input="address" hc-col-count="4" hc-placeholder="请输入地址"></div>
        <div hc-button="changeAdd()" hc-title="定位"></div>
    </div>

    <div id='allmap'></div>
</div>
<style>
    #allmap {
        width: 95%;
        height: 650px;
        margin: 0 auto;
    }

    .title {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        margin-top: 10px;
    }
</style>