<div hc-diy-page>
    <div hc-box class="ibox-title other-h" ng-show="notPackQuery">
          <div class="row">
               <div hc-label="年份"
                    hc-input="data.currItem.inv_year"
                    hc-change="changePanel()"
                    hc-type="year"></div>
              <div hc-label="月份"
                    hc-input="data.currItem.inv_month"
                    hc-change="changePanel()"
                    hc-can-delete="true"
                    hc-type="month"></div>
               <div hc-input="data.currItem.contract_code"
                    hc-label="合同编码"
                    hc-change="changePanel()"
                    hc-can-input="true"
                    hc-can-delete="true"
                    hc-class-id="epm_project_contract"
                    hc-common-search="commonSearchSetting.epmProjectContract"></div>
               <div hc-input="data.currItem.contract_name"
                    hc-change="changePanel()"
                    hc-label="合同名称">
               </div>
          </div>
        <div class="row">
          <div hc-input="data.currItem.customer_code"
               hc-label="客户编码"
               hc-can-input="true"
               hc-can-delete="true"
               hc-change="changePanel()"
               hc-class-id="customer_org"
               hc-common-search="commonSearchSetting.epmCustomer">
          </div>
          <div hc-input="data.currItem.delivery_base"
               hc-label="发货基地"
               hc-can-input="true"
               hc-can-delete="true"
               hc-change="changePanel()"
               hc-class-id="epm_trading_company"
               hc-common-search="commonSearchSetting.epmCelivery">
          </div>
          <div hc-input="data.currItem.project_code"
               hc-label="项目编码"
               hc-change="changePanel()"
               hc-can-delete="true"
               hc-can-input="true"
               hc-class-id="epm_project"
               hc-common-search="commonSearchSetting.epmProject">
          </div>
          <div hc-input="data.currItem.project_name"
               hc-change="changePanel()"
               hc-label="项目名称">
          </div>
        </div>
        <div class="row">
          <div hc-input="data.currItem.customer_name"
               hc-label="客户名称"
               hc-col-count="4"
               hc-change="changePanel()">
          </div>
          <div hc-input="data.currItem.short_name"
               hc-label="客户简称"
               hc-col-count="4"
               hc-change="changePanel()">
          </div>
        </div>
    </div>
    <div hc-box class="other-h" hc-tab="contract_tab" hc-tab-as="invTabController"
             hc-tab-change="onContractTabChange(params)"></div>
          <div hc-tab-page class="flex1 flex-column">
          <!--适用数据汇总-->
          <div id="data"  class="active" style="padding: 0px;">
               <div class="row">
                    <div style="font-size: 13px;float :left; display: inline-block;width: 80px;line-height: 30px;margin-left: 15px;" class="hc-w1">
                         【  汇总维度:
                    </div>
                    <div hc-input="press_year"
                         hc-col-count="1"
                         hc-label="按年度"
                         hc-change="changePattern('year')"
                         hc-type="checkbox">
                    </div>
                    <div hc-input="press_contract"
                         hc-col-count="1"
                         hc-label="按合同"
                         hc-change="changePattern('contract')"
                         hc-type="checkbox">
                    </div>
                    <div hc-input="press_project"
                         hc-col-count="1"
                         hc-label="按工程  】"
                         hc-change="changePattern('project')"
                         hc-type="checkbox">
                    </div>
               </div>
               

               <div hc-box class="flex1 flex-row flex-between" ng-show="press_year == 2">
                    <div hc-box class="ibox-title flex-column" style="width: 49%;">
                         <div style="font-size: 20px;text-align: center;" id="year_show_columnar"></div>
                         <div  class="flex1">
                              <hc-chart hc-chart-option="chartOptionMargin" hc-chart-as="out_chart" style="height: 90%;width: 95%;"></hc-chart>
                         </div>
                    </div>
                    <div hc-box class="ibox-title flex-column" style="width: 49%;">
                         <div style="font-size: 20px;text-align: center;" id="year_show_graph"></div>
                         <div  class="flex1">
                              <hc-chart hc-chart-option="chartOptionRate" hc-chart-as="in_chart" style="height: 90%;width: 95%;"></hc-chart>
                         </div>
                    </div>
               </div>


               <div hc-box hc-grid="gridOptions_contract" class="flex1" ng-show="press_contract == 2"></div>
               <div hc-box hc-grid="gridOptions_project" class="flex1" ng-show="press_project == 2"></div>
          </div>
          <!--适用合同明细-->
          <div id="line" style="padding: 0px;">
               <div hc-box hc-grid="gridOptions" class="flex1"></div>
          </div>
     </div>
</div>
<style>
</style>