<div>
    <!-- 删除提示 -->
    <div class="modal-header">
        <h5 class="modal-title">系统提示</h5>
    </div>
    <div class="modal-body"  style="text-align: center">
        <!--<textarea class="form-control noresize" ng-model="item.opinion" rows="3"></textarea>-->
        {{FrmInfo.name}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">取消</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</div>

