<div class="modal-content">
    <div class="modal-header">
    <a class="close" data-dismiss="modal"></a>
    <h3>故障现象编辑</h3>
    </div>
    <div class="modal-body">    
        <div class="ibox-content clearborder">
            <div class="row">
            	<div class="col-md-2"><label class="form-label-mini">故障编码:</label></div>
            	<div class="col-md-3">
            		<input ng-model="item.problem_code" type="text" class="form-control input-sm">
            	</div>
            	<div class="col-md-2"><label class="form-label-mini">故障描述:</label></div>
            	<div class="col-md-3">
            		<input ng-model="item.problem_name" type="text" class="form-control input-sm">
            	</div>
            	<div class="col-md-2 text-left">
            		<label><input ng-model="item.usable" ng-true-value="2" ng-false-value="1" ng-checked="item.usable" type="checkbox">有效</label>
            	</div>
            </div>
            <div class="row">
            	<div class="col-md-2"><label class="form-label-mini">网点类型:</label></div>
            	<div class="col-md-3">
            		<select data-placeholder=" " chosen-select ng-model="item.fix_org_type" class="input-sm chosen-select form-control" ng-options="s.id as s.name for s in problems">
                        <option value=""></option>
                    </select>
            	</div>
            	<div class="col-md-2"><label class="form-label-mini">经营单位:</label></div>
            	<div class="col-md-3">
            		<input ng-model="item.qty" type="text" class="form-control input-sm">
            	</div>
            </div>
            <div class="row">
            	<div class="col-md-2"><label class="form-label-mini">产品大类:</label></div>
            	<div class="col-md-3">
            		<div class="input-group">
                        <input type="text" class="input-sm form-control" ng-model="item.item_type_name">
                        <a class="input-group-addon" ng-click="selectprod(1)"><i class="fa fa-ellipsis-h"></i></a>
                    </div>
            	</div>
            	<div class="col-md-2"><label class="form-label-mini">产品小类:</label></div>
            	<div class="col-md-3">
            		<div class="input-group">
                        <input type="text" class="input-sm form-control" ng-model="item.smallc_name">
                        <a class="input-group-addon" ng-click="selectprod(2)"><i class="fa fa-ellipsis-h"></i></a>
                    </div>
            	</div>
            </div>
            <div class="row">
            	<div class="col-md-2"><label class="form-label-mini">产品名称:</label></div>
            	<div class="col-md-3">
            		<div class="input-group">
                        <input type="text" class="input-sm form-control" ng-model="item.smallc_name">
                        <a class="input-group-addon" ng-click="selectod(0)"><i class="fa fa-ellipsis-h"></i></a>
                    </div>
            	</div>
            </div>
            <div class="row">
            	<div class="col-md-2"><label class="form-label-mini">故障部件:</label></div>
            	<div class="col-md-3">
            		<div class="input-group">
                        <input type="text" class="input-sm form-control" ng-model="item.item_type_name">
                        <a class="input-group-addon" ng-click="selec(1)"><i class="fa fa-ellipsis-h"></i></a>
                    </div>
            	</div>
            	<div class="col-md-2"><label class="form-label-mini">维修类型:</label></div>
            	<div class="col-md-3">
            		<div class="input-group">
                        <input type="text" class="input-sm form-control" ng-model="item.smallc_name">
                        <a class="input-group-addon" ng-click="sele(2)"><i class="fa fa-ellipsis-h"></i></a>
                    </div>
            	</div>
            </div>
            <div class="row">
            	<div class="col-md-2"><label class="form-label-mini">备注:</label></div>
            	<div class="col-md-8">
            		<input ng-model="item.note" type="text" class="form-control input-sm">
            	</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-sm btn-primary" ng-click="ok()">
         	 确定
        </a>
        <a class="btn btn-sm btn-info" ng-click="cancel()">
         	 取消
        </a>
     </div>
</div>