<div class="bill-form" ng-controller="mail">
    <!---->
    <div class="wrapper wrapper-content ">
        <div class="row">
            <div class="col-lg-2 col-sm-2">
                <div style="position:fixed;width:15%;" ng-include="'views/baseman/mail_left.html'"></div>
            </div>
            <div ng-show="data.show==1" class="col-lg-10 col-sm-10 animated fadeInRight">
				<div class="mail-box-header">
					<form  class="pull-right mail-search">
						<div class="input-group">
							<input type="text" style="height: 30px;" class="form-control input-sm" ng-model="data.sqlwhere" name="search" placeholder="Search email">
							<div class="input-group-btn">
								<button ng-click="sendReceive_email(1)" class="btn btn-sm btn-primary" >
									 search
								</button>
							</div>
						</div>
					</form>
					<h4>
						{{data.title}} <span class="f_size normal black">(共{{data.receivetotal}}封<span> <a ng-show='data.flag<=5&&data.title=="收件箱"' ng-click='unread()' style="color: cadetblue;" class="f_size normal">,其中未读:{{data.receivenew}}封</a><a ng-show='data.flag>5&&data.title=="收件箱"' ng-click='unread()'  style="color: cadetblue;" class="f_size normal">,其中未读:{{data.receivenew_out}}封</a>)
					</h4>
					<div class="mail-tools tooltip-demo m-t-md">
						<div class="btn-group pull-right">
							<!--button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
							<button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button-->
							<div class="modal-open" page-pagination></div>
						</div>
						
						<button class="btn btn-white btn-sm" data-toggle="tooltip" ng-click='refresh_emails()'data-placement="left" title="" data-original-title="Refresh inbox"><i class="fa fa-refresh"></i> 刷新</button>
						<button class="btn btn-white btn-sm" data-toggle="tooltip" ng-click='is_read()'data-placement="top" title="" data-original-title="Mark as read"><i class="fa fa-eye"></i> 已读</button>
						<div class="btn-group">
							  <button class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown" type="button">标记为....<span class="caret"></span></button>
							  <ul class="dropdown-menu">
								  <li><a ng-click='batchstar()'>星标邮件</a></li>
								  <li><a ng-click='batchunread()'>未读</a></li>
							  </ul>
						</div>
						<button class="btn btn-white btn-sm" data-toggle="tooltip" ng-click='delete_emails()'data-placement="top" title=""><i class="fa fa-trash-o"></i> 删除</button>
                        <button class="btn btn-white btn-sm" data-toggle="tooltip" ng-click='open_setting()' data-placement="top" title=""><i class="fa fa-cog"></i>设置</button>
						
					</div>
				</div>
                <div class="mail-box limit">
					<table class="table table-hover table-mail">
						<thead>
							<tr class="read">
								<th style="width:5%;" class="check-mail o_title2">
								  <div class="icheckbox_square-green"  style="position: relative;"><input type="checkbox" ng-click='selectall()' ng-true-value="2" ng-false-value="1" ng-model="data.type" class="i-checks" style="position: absolute"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
								</th>
								<th class="o_title2" style="width:5%;"></th>
								<th class="o_title2" style="width:8%;">发件人</th>
								<th class="o_title2" style="width:40%;">主题</th>
								<th class="o_title2" style="width:5%;">附件</th>
								
								<th class="o_title2" style="width:20%;">时间</th>
								<th ng-show='data.flag>5' class="o_title2" style="width:10%;">类型</th>
								<th class="o_title2" style="width:5%;"></th>
								
							</tr>
						</thead>
						<tbody ng-show='data.today_emails.length>0'>
							<tr class="time">
								<td class="check-mail" colspan='7'>今天({{data.today_emails.length}}封)</td>
							</tr>
						</tbody>
						<tbody ng-show='data.today_emails.length>0'>
							<tr class="read" ng-repeat="item in data.today_emails">
								
								<td style="width:3%;" class="check-mail">
									<div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" ng-true-value="2" ng-false-value="1" ng-model="item.checkbox" class="i-checks" style="position: absolute"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
								</td>
								<td width="5%" ng-class="{true:'cr unr',false:'cr Rr'}[item.flag<2?true:false]" title="新窗口读信">&nbsp;</td>
								<td width="8%"><a ng-click='show(3,item.emailid)'><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.fromusername}}</span ></a></td>
								<td width="40%"ng-class="{true:'bold',false:''}[item.flag<2?true:false]" class="mail-subject"><a ng-click='show(3,item.emailid)'><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.subject}}</span></a></td>
								<td width="5%" ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class=""><i ng-class="{true:'fa-paperclip',false:''}[item.attachcount>0?true:false]" class="fa"></i></td>
								
								<td width="20%"ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class="mail-date"><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.receivetime}}</span></td>
								<td width="10%" ng-show='data.flag>5' ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class="">
									<span ng-class="{true:'bold',false:''}[item.flag<2?true:false]" ng-repeat="manual_stat in mailserverids | idadapter:{'value':item.mailserverid}">{{manual_stat.desc}}</span>
								</td>
								<td width="5%" ng-click='star($event,item.emailid,item.myflag)' ng-class="{true:'star',false:'lightstar'}[item.myflag<999?true:false]"class=""></td>
							</tr>
						</tbody>
						<tbody ng-show='data.xq6_emails.length>0'>
							<tr class="time">
								<td class="check-mail" colspan='7'>星期六({{data.xq6_emails.length}}封)</td>
							</tr>
						</tbody>
						<tbody ng-show='data.xq6_emails.length>0'>
							<tr class="read" ng-repeat="item in data.xq6_emails">
								
								<td class="check-mail">
									<div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" ng-true-value="2" ng-false-value="1" ng-model="item.checkbox" class="i-checks" style="position: absolute"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
								</td>
								<td width="5%" ng-class="{true:'cr unr',false:'cr Rr'}[item.flag<2?true:false]" title="新窗口读信">&nbsp;</td>
								<td width="8%"><a ng-click='show(3,item.emailid)'><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.fromusername}}</span ></a></td>
								<td width="40%"ng-class="{true:'bold',false:''}[item.flag<2?true:false]" class="mail-subject"><a ng-click='show(3,item.emailid)'><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.subject}}</span></a></td>
								<td width="5%" ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class=""><i ng-class="{true:'fa-paperclip',false:''}[item.attachcount>0?true:false]" class="fa"></i></td>
								
								<td width="20%"ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class="mail-date"><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.receivetime}}</span></td>
								<td width="10%" ng-show='data.flag>5' ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class="">
									<span ng-class="{true:'bold',false:''}[item.flag<2?true:false]" ng-repeat="manual_stat in mailserverids | idadapter:{'value':item.mailserverid}">{{manual_stat.desc}}</span>
								</td>
								<td width="5%" ng-click='star($event,item.emailid,item.myflag)' ng-class="{true:'star',false:'lightstar'}[item.myflag<999?true:false]"class=""></td>
							</tr>
						</tbody>
						<tbody ng-show='data.xq5_emails.length>0'>
							<tr class="time">
								<td class="check-mail" colspan='7'>星期五({{data.xq5_emails.length}}封)</td>
							</tr>
						</tbody>
						<tbody ng-show='data.xq5_emails.length>0'>
							<tr class="read" ng-repeat="item in data.xq5_emails">
								
								<td class="check-mail">
									<div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" ng-true-value="2" ng-false-value="1" ng-model="item.checkbox" class="i-checks" style="position: absolute"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
								</td>
								<td width="5%" ng-class="{true:'cr unr',false:'cr Rr'}[item.flag<2?true:false]" title="新窗口读信">&nbsp;</td>
								<td width="8%"><a ng-click='show(3,item.emailid)'><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.fromusername}}</span ></a></td>
								<td width="40%"ng-class="{true:'bold',false:''}[item.flag<2?true:false]" class="mail-subject"><a ng-click='show(3,item.emailid)'><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.subject}}</span></a></td>
								<td width="5%" ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class=""><i ng-class="{true:'fa-paperclip',false:''}[item.attachcount>0?true:false]" class="fa"></i></td>
								
								<td width="20%"ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class="mail-date"><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.receivetime}}</span></td>
								<td width="10%" ng-show='data.flag>5' ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class="">
									<span ng-class="{true:'bold',false:''}[item.flag<2?true:false]" ng-repeat="manual_stat in mailserverids | idadapter:{'value':item.mailserverid}">{{manual_stat.desc}}</span>
								</td>
								<td width="5%" ng-click='star($event,item.emailid,item.myflag)' ng-class="{true:'star',false:'lightstar'}[item.myflag<999?true:false]"class=""></td>
							</tr>
						</tbody>
						<tbody ng-show='data.xq4_emails.length>0'>
							<tr class="time">
								<td class="check-mail" colspan='7'>星期四({{data.xq4_emails.length}}封)</td>
							</tr>
						</tbody>
						<tbody ng-show='data.xq4_emails.length>0'>
							<tr class="read" ng-repeat="item in data.xq4_emails">
								
								<td class="check-mail">
									<div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" ng-true-value="2" ng-false-value="1" ng-model="item.checkbox" class="i-checks" style="position: absolute"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
								</td>
								<td width="5%" ng-class="{true:'cr unr',false:'cr Rr'}[item.flag<2?true:false]" title="新窗口读信">&nbsp;</td>
								<td width="8%"><a ng-click='show(3,item.emailid)'><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.fromusername}}</span ></a></td>
								<td width="40%"ng-class="{true:'bold',false:''}[item.flag<2?true:false]" class="mail-subject"><a ng-click='show(3,item.emailid)'><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.subject}}</span></a></td>
								<td width="5%" ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class=""><i ng-class="{true:'fa-paperclip',false:''}[item.attachcount>0?true:false]" class="fa"></i></td>
								
								<td width="20%"ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class="mail-date"><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.receivetime}}</span></td>
								<td width="10%" ng-show='data.flag>5' ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class="">
									<span ng-class="{true:'bold',false:''}[item.flag<2?true:false]" ng-repeat="manual_stat in mailserverids | idadapter:{'value':item.mailserverid}">{{manual_stat.desc}}</span>
								</td>
								<td width="5%" ng-click='star($event,item.emailid,item.myflag)' ng-class="{true:'star',false:'lightstar'}[item.myflag<999?true:false]"class=""></td>
							</tr>
						</tbody>
						<tbody ng-show='data.xq3_emails.length>0'>
							<tr class="time">
								<td class="check-mail" colspan='7'>星期三({{data.xq3_emails.length}}封)</td>
							</tr>
						</tbody>
						<tbody ng-show='data.xq3_emails.length>0'>
							<tr class="read" ng-repeat="item in data.xq3_emails">
								
								<td class="check-mail">
									<div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" ng-true-value="2" ng-false-value="1" ng-model="item.checkbox" class="i-checks" style="position: absolute"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
								</td>
								<td width="5%" ng-class="{true:'cr unr',false:'cr Rr'}[item.flag<2?true:false]" title="新窗口读信">&nbsp;</td>
								<td width="8%"><a ng-click='show(3,item.emailid)'><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.fromusername}}</span ></a></td>
								<td width="40%"ng-class="{true:'bold',false:''}[item.flag<2?true:false]" class="mail-subject"><a ng-click='show(3,item.emailid)'><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.subject}}</span></a></td>
								<td width="5%" ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class=""><i ng-class="{true:'fa-paperclip',false:''}[item.attachcount>0?true:false]" class="fa"></i></td>
								
								<td width="20%"ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class="mail-date"><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.receivetime}}</span></td>
								<td width="10%" ng-show='data.flag>5' ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class="">
									<span ng-class="{true:'bold',false:''}[item.flag<2?true:false]" ng-repeat="manual_stat in mailserverids | idadapter:{'value':item.mailserverid}">{{manual_stat.desc}}</span>
								</td>
								<td width="5%" ng-click='star($event,item.emailid,item.myflag)' ng-class="{true:'star',false:'lightstar'}[item.myflag<999?true:false]"class=""></td>
							</tr>
						</tbody>
						<tbody ng-show='data.xq2_emails.length>0'>
							<tr class="time">
								<td class="check-mail" colspan='7'>星期二({{data.xq2_emails.length}}封)</td>
							</tr>
						</tbody>
						<tbody ng-show='data.xq2_emails.length>0'>
							<tr class="read" ng-repeat="item in data.xq2_emails">
								
								<td class="check-mail">
									<div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" ng-true-value="2" ng-false-value="1" ng-model="item.checkbox" class="i-checks" style="position: absolute"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
								</td>
								<td width="5%" ng-class="{true:'cr unr',false:'cr Rr'}[item.flag<2?true:false]" title="新窗口读信">&nbsp;</td>
								<td width="8%"><a ng-click='show(3,item.emailid)'><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.fromusername}}</span ></a></td>
								<td width="40%"ng-class="{true:'bold',false:''}[item.flag<2?true:false]" class="mail-subject"><a ng-click='show(3,item.emailid)'><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.subject}}</span></a></td>
								<td width="5%" ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class=""><i ng-class="{true:'fa-paperclip',false:''}[item.attachcount>0?true:false]" class="fa"></i></td>
								
								<td width="20%"ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class="mail-date"><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.receivetime}}</span></td>
								<td width="10%" ng-show='data.flag>5' ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class="">
									<span ng-class="{true:'bold',false:''}[item.flag<2?true:false]" ng-repeat="manual_stat in mailserverids | idadapter:{'value':item.mailserverid}">{{manual_stat.desc}}</span>
								</td>
								<td width="5%" ng-click='star($event,item.emailid,item.myflag)' ng-class="{true:'star',false:'lightstar'}[item.myflag<999?true:false]"class=""></td>
							</tr>
						</tbody>
						<tbody ng-show='data.xq1_emails.length>0'>
							<tr class="time">
								<td class="check-mail" colspan='7'>星期一({{data.xq1_emails.length}}封)</td>
							</tr>
						</tbody>
						<tbody ng-show='data.xq1_emails.length>0'>
							<tr class="read" ng-repeat="item in data.xq1_emails">
								
								<td class="check-mail">
									<div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" ng-true-value="2" ng-false-value="1" ng-model="item.checkbox" class="i-checks" style="position: absolute"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
								</td>
								<td width="5%" ng-class="{true:'cr unr',false:'cr Rr'}[item.flag<2?true:false]" title="新窗口读信">&nbsp;</td>
								<td width="8%"><a ng-click='show(3,item.emailid)'><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.fromusername}}</span ></a></td>
								<td width="40%"ng-class="{true:'bold',false:''}[item.flag<2?true:false]" class="mail-subject"><a ng-click='show(3,item.emailid)'><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.subject}}</span></a></td>
								<td width="5%" ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class=""><i ng-class="{true:'fa-paperclip',false:''}[item.attachcount>0?true:false]" class="fa"></i></td>
								
								<td width="20%"ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class="mail-date"><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.receivetime}}</span></td>
								<td width="10%" ng-show='data.flag>5' ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class="">
									<span ng-class="{true:'bold',false:''}[item.flag<2?true:false]" ng-repeat="manual_stat in mailserverids | idadapter:{'value':item.mailserverid}">{{manual_stat.desc}}</span>
								</td>
								<td width="5%" ng-click='star($event,item.emailid,item.myflag)' ng-class="{true:'star',false:'lightstar'}[item.myflag<999?true:false]"class=""></td>
							</tr>
						</tbody>
						<tbody ng-show='data.lastweek_emails.length>0'>
							<tr class="time">
								<td class="check-mail" colspan='7'>上周({{data.lastweek_emails.length}}封)</td>
							</tr>
						</tbody>
						<tbody ng-show='data.lastweek_emails.length>0'>
							<tr class="read" ng-repeat="item in data.lastweek_emails">
								
								<td class="check-mail">
									<div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" ng-true-value="2" ng-false-value="1" ng-model="item.checkbox" class="i-checks" style="position: absolute"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
								</td>
								<td width="5%" ng-class="{true:'cr unr',false:'cr Rr'}[item.flag<2?true:false]" title="新窗口读信">&nbsp;</td>
								<td width="8%"><a ng-click='show(3,item.emailid)'><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.fromusername}}</span ></a></td>
								<td width="40%"ng-class="{true:'bold',false:''}[item.flag<2?true:false]" class="mail-subject"><a ng-click='show(3,item.emailid)'><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.subject}}</span></a></td>
								<td width="5%" ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class=""><i ng-class="{true:'fa-paperclip',false:''}[item.attachcount>0?true:false]" class="fa"></i></td>
								
								<td width="20%"ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class="mail-date"><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.receivetime}}</span></td>
								<td width="10%" ng-show='data.flag>5' ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class="">
									<span ng-class="{true:'bold',false:''}[item.flag<2?true:false]" ng-repeat="manual_stat in mailserverids | idadapter:{'value':item.mailserverid}">{{manual_stat.desc}}</span>
								</td>
								<td width="5%" ng-click='star($event,item.emailid,item.myflag)' ng-class="{true:'star',false:'lightstar'}[item.myflag<999?true:false]"class=""></td>
							</tr>
						</tbody>
						<tbody ng-show='data.early_emails.length>0'>
							<tr class="time">
								<td class="check-mail" colspan='7'>更早({{data.early_emails.length}}封)</td>
							</tr>
						</tbody>
						<tbody ng-show='data.early_emails.length>0'>
							<tr class="read" ng-repeat="item in data.early_emails">
								
								<td class="check-mail">
									<div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" ng-true-value="2" ng-false-value="1" ng-model="item.checkbox" class="i-checks" style="position: absolute"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
								</td>
								<td width="5%" ng-class="{true:'cr unr',false:'cr Rr'}[item.flag<2?true:false]" title="新窗口读信">&nbsp;</td>
								<td width="8%"><a ng-click='show(3,item.emailid)'><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.fromusername}}</span ></a></td>
								<td width="40%"ng-class="{true:'bold',false:''}[item.flag<2?true:false]" class="mail-subject"><a ng-click='show(3,item.emailid)'><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.subject}}</span></a></td>
								<td width="5%" ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class=""><i ng-class="{true:'fa-paperclip',false:''}[item.attachcount>0?true:false]" class="fa"></i></td>
								
								<td width="20%"ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class="mail-date"><span ng-class="{true:'bold',false:''}[item.flag<2?true:false]">{{item.receivetime}}</span></td>
								<td width="10%" ng-show='data.flag>5' ng-class="{true:'bold',false:''}[item.flag<2?true:false]"class="">
									<span ng-class="{true:'bold',false:''}[item.flag<2?true:false]" ng-repeat="manual_stat in mailserverids | idadapter:{'value':item.mailserverid}">{{manual_stat.desc}}</span>
								</td>
								<td width="5%" ng-click='star($event,item.emailid,item.myflag)' ng-class="{true:'star',false:'lightstar'}[item.myflag<999?true:false]"class=""></td>
							</tr>
						</tbody>
					</table>
                </div>
            </div>
			
			<div id='send_height' ng-show="data.show==2" class="col-lg-10 animated fadeInRight">
				<div class="mail-box-header">
					<div class="pull-right tooltip-demo">
					    <a  ng-click="send_email()" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Send"><i class="fa fa-reply"></i> 发送</a>
						<a  ng-click="send_email(2)" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to draft folder"><i class="fa fa-pencil"></i> 草稿</a>
						<a ng-click='send_cancel()' class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> 取消</a>
					</div>
					<h4>
						发送邮件
						<div ng-show='data.flag>5' style="padding-left: 5px; " class="dropdown inline open " dropdown=" ">
							<a class="dropdown-toggle " dropdown-toggle=" " href=" " aria-haspopup="true " aria-expanded="true "> 
							    <span class="clear "><span class="block m-t-xs "><strong style = 'font-size: 10px;' class="font-bold ">{{data.email}}</strong></span></span>
							</a>
							<ul class="dropdown-menu animated fadeInRight m-t-xs ">
								<li ng-repeat="item in data.usermails "><a ng-click="choose_mailbox(item.usermailid, item.email) ">{{item.email}}</a></li>								
							</ul>
						</div>					   
					</h4>					 
				</div>
				<div class="mail-box">
					<div class="mail-body">
						<div class="form-horizontal  col-lg-10">
							<div class="form-group"><label ng-click='addpeople($event)' style='float:left;width:45px' class="control-label">收件人</label>
								<div  class="col-md-11 ipt">
								     <!--div id='snedto' ng-mousedown='mousedown(1)' contenteditable="true" class="noime div_txt note-editable" style='cursor: text; background-color: rgb(255, 255, 255);'>
									      <div class="addr_base addr_error " style="float:left;white-space:nowrap;" title="该邮件地址不存在 ，请双击修改" addr="111@qq.com" unselectable="on"><b unselectable="on" addr="111@qq.com">111<span class="domain" unselectable="on" addr="111@qq.com">@qq.com</span></b><span class="semicolon">;</span><a href="javascript:;" class="addr_del" name="del"></a></div>
										  <div class="addr_base addr_error " style="float:left;white-space:nowrap;" title="该邮件地址不存在 ，请双击修改" addr="111@qq.com" unselectable="on"><b unselectable="on" addr="111@qq.com">111<span class="domain" unselectable="on" addr="111@qq.com">@qq.com</span></b><span class="semicolon">;</span><a href="javascript:;" class="addr_del" name="del"></a></div>
										  <div class="addr_base addr_error " style="float:left;white-space:nowrap;" title="该邮件地址不存在 ，请双击修改" addr="111@qq.com" unselectable="on"><b unselectable="on" addr="111@qq.com">111<span class="domain" unselectable="on" addr="111@qq.com">@qq.com</span></b><span class="semicolon">;</span><a href="javascript:;" class="addr_del" name="del"></a></div>
										  <div class="addr_base addr_error " style="float:left;white-space:nowrap;" title="该邮件地址不存在 ，请双击修改" addr="111@qq.com" unselectable="on"><b unselectable="on" addr="111@qq.com">111<span class="domain" unselectable="on" addr="111@qq.com">@qq.com</span></b><span class="semicolon">;</span><a href="javascript:;" class="addr_del" name="del"></a></div>
										  <div class="addr_base addr_error " style="float:left;white-space:nowrap;" title="该邮件地址不存在 ，请双击修改" addr="111@qq.com" unselectable="on"><b unselectable="on" addr="111@qq.com">111<span class="domain" unselectable="on" addr="111@qq.com">@qq.com</span></b><span class="semicolon">;</span><a href="javascript:;" class="addr_del" name="del"></a></div>
										  <div class="addr_base addr_error " style="float:left;white-space:nowrap;" title="该邮件地址不存在 ，请双击修改" addr="111@qq.com" unselectable="on"><b unselectable="on" addr="111@qq.com">111<span class="domain" unselectable="on" addr="111@qq.com">@qq.com</span></b><span class="semicolon">;</span><a href="javascript:;" class="addr_del" name="del"></a></div>
										  <div class="addr_base addr_error " style="float:left;white-space:nowrap;" title="该邮件地址不存在 ，请双击修改" addr="111@qq.com" unselectable="on"><b unselectable="on" addr="111@qq.com">111<span class="domain" unselectable="on" addr="111@qq.com">@qq.com</span></b><span class="semicolon">;</span><a href="javascript:;" class="addr_del" name="del"></a></div>
										  <div class="addr_base addr_error " style="float:left;white-space:nowrap;" title="该邮件地址不存在 ，请双击修改" addr="111@qq.com" unselectable="on"><b unselectable="on" addr="111@qq.com">111<span class="domain" unselectable="on" addr="111@qq.com">@qq.com</span></b><span class="semicolon">;</span><a href="javascript:;" class="addr_del" name="del"></a></div>
										  <div class="addr_base addr_error " style="float:left;white-space:nowrap;" title="该邮件地址不存在 ，请双击修改" addr="111@qq.com" unselectable="on"><b unselectable="on" addr="111@qq.com">111<span class="domain" unselectable="on" addr="111@qq.com">@qq.com</span></b><span class="semicolon">;</span><a href="javascript:;" class="addr_del" name="del"></a></div>
										  <div class="addr_base addr_error " style="float:left;white-space:nowrap;" title="该邮件地址不存在 ，请双击修改" addr="111@qq.com" unselectable="on"><b unselectable="on" addr="111@qq.com">111<span class="domain" unselectable="on" addr="111@qq.com">@qq.com</span></b><span class="semicolon">;</span><a href="javascript:;" class="addr_del" name="del"></a></div>
										  <div class="addr_base addr_error " style="float:left;white-space:nowrap;" title="该邮件地址不存在 ，请双击修改" addr="111@qq.com" unselectable="on"><b unselectable="on" addr="111@qq.com">111<span class="domain" unselectable="on" addr="111@qq.com">@qq.com</span></b><span class="semicolon">;</span><a href="javascript:;" class="addr_del" name="del"></a></div>
										  <div class="addr_base addr_error " style="float:left;white-space:nowrap;" title="该邮件地址不存在 ，请双击修改" addr="111@qq.com" unselectable="on"><b unselectable="on" addr="111@qq.com">111<span class="domain" unselectable="on" addr="111@qq.com">@qq.com</span></b><span class="semicolon">;</span><a href="javascript:;" class="addr_del" name="del"></a></div>
										  <div class="addr_base addr_error " style="float:left;white-space:nowrap;" title="该邮件地址不存在 ，请双击修改" addr="111@qq.com" unselectable="on"><b unselectable="on" addr="111@qq.com">111<span class="domain" unselectable="on" addr="111@qq.com">@qq.com</span></b><span class="semicolon">;</span><a href="javascript:;" class="addr_del" name="del"></a></div>
										  <div class="addr_text" style="float: left; border: none; overflow: hidden; width: 13px;"><input type="input" class="js_input" style="border:none;outline:none;-webkit-appearance:none;width:100%;" accesskey="t" tabindex="1" autocomplete="off"><div style="width: 1px; height: 1px; overflow: auto; white-space: nowrap; border: none; margin: 0px; padding: 0px; font-family: Tahoma; font-size: 13.3333px; font-weight: normal; line-height: normal; word-spacing: 0px;">111@qq.com;11WW</div></div>
									 </div-->
									 <div id="toAreaCtrl" ng-mousedown='mousedown(1)' ng-click class="noime div_txt" style="cursor: text;">
									         <div id='before' style="position:absolute;color:#A0A0A0;padding-top:1px;display:none;"></div>
											 <div id="final" class="addr_text" style="float:left;border:none;overflow:hidden;width:{{data.currItem.search_peop.length*13+13}}px;">
											 <input type="input" class="js_input" ng-model="data.currItem.search_peop" style="border:none;outline:none;-webkit-appearance:none;width:100%;" accesskey="t" tabindex="1" autocomplete="off">
											 <div style="width: 1px; height: 1px; overflow: auto; white-space: nowrap; border: none; margin: 0px; padding: 0px; font-family: Tahoma; font-size: 12px; font-weight: normal; line-height: normal; word-spacing: 0px;">{{data.currItem.search_peop}}</div></div>
											 <div  style="clear:both;border:none;margin:0;padding:0;" unselectable="on"><input type="text" style="position:absolute;border:none;padding:0;width:10px;left:-9999px;top:-9999px;" tabindex="-1"></div>
											 
									 </div>
								     <textarea ng-hide='true' style='height:25px;resize:none;' class="col-md-12"  be-delete="clearspec()" be-search="openuserFrm()" be-edit="true" ng-model="data.currItem.snedto" /></textarea>
								</div>
								
							</div>							
							<div class="form-group"><label style='float:left;width:45px' class="control-label">抄送人</label>
								<div class="col-md-11">
								<div id="toAreaCtrl1" ng-mousedown='mousedown(2)' class="noime div_txt" style="cursor: text;">
									         <div id='before1' style="position:absolute;color:#A0A0A0;padding-top:1px;display:none;"></div>
											 <div id="final1" class="addr_text" style="float:left;border:none;overflow:hidden;width:{{data.currItem.search_linep.length*13+13}}px;">
											 <input type="input" class="js_input" ng-model="data.currItem.search_linep" style="border:none;outline:none;-webkit-appearance:none;width:100%;" accesskey="t" tabindex="1" autocomplete="off">
											 <div style="width: 1px; height: 1px; overflow: auto; white-space: nowrap; border: none; margin: 0px; padding: 0px; font-family: Tahoma; font-size: 12px; font-weight: normal; line-height: normal; word-spacing: 0px;">{{data.currItem.search_linep}}</div></div>
											 <div  style="clear:both;border:none;margin:0;padding:0;" unselectable="on"><input type="text" style="position:absolute;border:none;padding:0;width:10px;left:-9999px;top:-9999px;" tabindex="-1"></div>
											 
							    </div>
								<textarea ng-hide='true' style='height:25px;resize:none;' ng-change='get_mail()' class="col-md-12" id="mail" be-delete="clearspec()"ng-mousedown='mousedown(2)' be-search="sendTo()" be-edit="true" ng-model="data.currItem.cc"></textarea>
								    <!--div  contenteditable="true" type='text' ng-disabled='false' ng-model="data.currItem.cc" class="div_txt note-editable" id="mail"  title="">
								      <div class="chosen-drop">
										  <!--ul class="chosen-results autoul">
										  <li class="active-result" data-option-array-index="1" style="">冬季产品</li>
										  </ul>
									  </div>
							        </div-->
								</div>
								<ul class="autoul"></ul>								
							</div>
							
							<div class="form-group"><label style='float:left;width:45px' class="control-label">主题</label>
								<div class="col-md-11"><textarea style='height:25px;resize:none;'  class="col-md-12" ng-model="data.currItem.subject_send"></textarea></div>
							</div>														
							<div class="form-group">
                                <div style='float:left;width:45px'  class="">							
								<!--button  swf-upload title="添加" class="btn btn-toolbar" " upload-list="data.currItem.attachofemails1" ng-model="data.currItem.attachofemails1" filed='#attach-area'>
									<i class="fa lightblue font-size-15 fa-paperclip">添加</i> 
								</button-->
									<button swf-upload title="添加附件" class="btn btn-toolbar"
											upload-list="data.currItem.attachofemails1" ng-model="data.currItem.attachofemails1"
											filed='#attach-area'>
										<i class="fa lightblue font-size-15  fa-paperclip"></i> 添加
									</button>
								</div>
								<ul  class="col-sm-11" id="attach-area">
								</ul>
                                
                            </div>
							<div class="form-group"><label style='float:left;width:45px' class="control-label">内容</label>
								<div class="col-sm-11"><textarea type="text" name="text" class="summernote" id="contents" title="Contents"></textarea></div>
							</div>						
						 </div>
						 
						 <div ng-show='data.flag<=5' id='addwidth' class="lm_panel">
						     <div id="addr_cmd" ng-click='tooglass($event)' class="cptab cpslt" style="_width:74px;">
							     <a hidefocus="">通讯录</a>
							 </div>
							 <div id="stationery_cmd" ng-click='tooglass($event)'  class="cptab" style="margin-left:7.9%;margin-left:90px\9;border-left-width:1px;border-left-width:0px\9;">
							     <a hidefocus="">分组</a>
							 </div>
							 <div id="AddrTab" style='display:block'>
							     <div style="height:25px;" class="grptitle_tab_"></div>
								 <div  class="lm_sbar">
									  <a ng-click='close_people()' type="button" id="lm15034559988030725050352368402cancel" ng-class="{true:'lm_sopen fa fa-times',false:'lm_sopen fa fa-search'}[data.is_search==2?true:false]" class="lm_sopen fa fa-search"></a>
									  <div>
										 <input ng-change='search_peopele()' id="lm15034559988030725050352368402searchtext" ng-model='data.username' type="text" class="txt" value="" autocomplete="off" style="color: rgb(160, 160, 160);">
									  </div>
								 </div>
								 <div ng-hide='data.is_search==2' class="groupopen" style="display:" key="t3" sub="0">
								   <div class="settingtable qqshowbd" style="padding:4px 0 3px 8px;cursor:default;">最近联系人</div>
								 </div>
								 <div ng-hide='data.is_search==2' id="lm150338581407203951792705359891tree"style="overflow-y: auto;height:400px;overflow-x: hidden;">
									  <div class="groupsub" key="t3" sub="1">							      
										  <div ng-click='contact_man($event,$index)' ng-repeat='item in data.currItem.cpcemail_contact_lists' class="groupclose" style="display:" key="8" sub="0"><a unselectable="on" class="lm_addr">{{item.contactname}}</a></div>
										  
									  </div>
									  <div ng-show='data.cpcorgs.length>0' class="groupopen" style="display:" key="t2" sub="0"><div class="settingtable qqshowbd" style="padding:4px 0 3px 8px;cursor:default;"><a class="lm_rt" fun="g2"></a>公司同事</div>
										  <ul id="treeDemo" class="ztree"></ul>
									  </div>
								 </div>
                                 	
                                 								 
							</div>
							
							<div id="stationeryTab" id='addwidth' style='display:none'>
							     <div style="height:25px;" class="grptitle_tab_"></div>
								 <div class="lm_sbar">
									  <a ng-click='close_people()' type="button" id="lm15034559988030725050352368402cancel" ng-class="{true:'lm_sopen fa fa-times',false:'lm_sopen fa fa-search'}[data.is_search==2?true:false]" class="lm_sopen fa fa-search"></a>
									  <div>
										 <input ng-change='search_peopele()' ng-model='data.username' id="lm15034559988030725050352368402searchtext" type="text" class="txt" value="" autocomplete="off" style="color: rgb(160, 160, 160);">
									  </div>
								 </div>
								 <div ng-hide='data.is_search==2' class="groupopen" style="display:" key="t3" sub="0">
								   <div class="settingtable qqshowbd" style="padding:4px 0 3px 8px;cursor:default;">联系人分组<a style='padding-left:40px' class='fa fa-plus' ng-click='addgroup()'></a><a style='padding-left:10px' class='fa fa-minus' ng-click='delgroup()'></a><a style='padding-left:10px' class='fa fa-pencil' ng-click='group_change()'></a></div>
								 </div>
								 <div ng-hide='data.is_search==2' id="lm150338581407203951792705359891tree">
									  <div class="groupsub" key="t3" sub="1">							      
										  <ul id="treeDemo1" class="ztree"></ul>
									  </div>
								 </div>	
							</div>
							<div ng-show='data.is_search==2' class="groupopen" style="display:" key="t3" sub="0">
								 <div class="settingtable qqshowbd" style="padding:4px 0 3px 8px;cursor:default;">查找到。。。</div>
							 </div>
							<div ng-show='data.is_search==2' id="lm150338581407203951792705359891tree"style="overflow-y: auto;height:400px;overflow-x: hidden;">
								  <div class="groupsub" key="t3" sub="1">							      
									  <div ng-click='contact_people($event,$index)' ng-repeat='item in data.currItem.cpcorgs' class="groupclose" style="display:" key="8" sub="0"><a unselectable="on" class="lm_addr">{{item.username}}</a></div>										  
								  </div>
							 </div>
						 </div>	
                         <div ng-show='data.flag>5' id='addwidth1' class="lm_panel">
						     <div id="addr_cmdout" ng-click='tooglass($event)' class="cptab cpslt" style="_width:74px;">
							     <a hidefocus="">通讯录</a>
							 </div>
							 <div id="AddrTab" style='display:block'>
							     <div style="height:25px;" class="grptitle_tab_"></div>
								 <div class="lm_sbar">
									  <a type="button" id="lm15034559988030725050352368402cancel" class="lm_sopen fa fa-search"></a>
									  <div>
										 <input id="lm15034559988030725050352368402searchtext" type="text" class="txt" value="" autocomplete="off" style="color: rgb(160, 160, 160);">
									  </div>
								 </div>
								 <div class="groupopen" style="display:" key="t3" sub="0">
								      <div class="settingtable qqshowbd" style="padding:4px 0 3px 8px;cursor:default;">最近联系人<a style='padding-left:10px' class='fa fa-pencil' ng-click='cha_contact_man()'></a></div>
								 </div>
								 <div id="lm150338581407203951792705359891tree"style="overflow-y: auto;height:400px;overflow-x: hidden;">
									  <div class="groupsub" key="t3" sub="1">							      
										  <div ng-click='contact_man($event,$index)'  ng-repeat='item in data.currItem.cpcemail_contact_wb_lists' class="groupclose" style="display:" key="8" sub="0"><a unselectable="on" class="lm_addr">{{item.contactname}}</a></div>
										  
									  </div>
									  <div ng-show='data.cpcorgs.length>0' class="groupopen" style="display:" key="t2" sub="0"><div class="settingtable qqshowbd" style="padding:4px 0 3px 8px;cursor:default;"><a class="lm_rt" fun="g2"></a>分组</div>
										  <ul id="treeDemo_out" class="ztree"></ul>
									  </div>
								 </div>	
							</div>
						 </div>						 
					</div>	
					<div class="mail-body text-right tooltip-demo">
							<a  ng-click="send_email()" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Send"><i class="fa fa-reply"></i> 发送</a>
							<a  ng-click="send_email(2)" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to draft folder"><i class="fa fa-pencil"></i> 草稿</a>
							<a  ng-click='send_cancel()' class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> 取消</a>
					  </div>
					  <div class="clearfix"></div>	
                  </div>	
                  			  
            </div>
			
			 <div ng-show='data.show==3' class="col-lg-10 animated fadeInRight">
				<div class="mail-box-header tenxun-color">
					<div class="pull-right tooltip-demo">
					    <a ng-click='back()' class="btn btn-sm btn-white" ><i class="fa fa-arrow-left"></i> 返回</a>
						<a ng-click='tansfer()' class="btn btn-sm btn-white" ><i class="fa  fa-arrow-right"></i> 转发</a>
					    <a ng-click='reply_all()' class="btn btn-sm btn-white" ><i class="fa fa-reply"></i> 全部回复</a>
						<a ng-click='reply()' class="btn btn-sm btn-white" ><i class="fa fa-reply"></i> 回复</a>
					    <!--a ng-click='reply_all()' class="btn btn_gray" data-toggle="tooltip" data-placement="top" title="回复"><i class=""></i> 全部回复</a>
						<a ng-click='reply()' class="btn btn_gray" data-toggle="tooltip" data-placement="top" title="回复"><i class=""></i> 回复</a>
						<a href="#" class="btn btn_gray" data-toggle="tooltip" data-placement="top" title="Print email"><i class="fa fa-print"></i> </a>
						<a href="mailbox.html" class="btn btn_gray" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </a-->
						<button ng-hide='true' title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Print" class="btn btn-sm btn-white"><i class="fa fa-print"></i> 打印</button>
						<button ng-hide='true' title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm btn-white"><i class="fa fa-trash-o"></i> 删除</button>
					</div>
					<div class="mail-tools tooltip-demo m-t-md">
						<h4>
							{{data.currItem.subject}}<button  ng-class="{true:'star',false:'lightstar'}[data.currItem.myflag<999?true:false]" class='qm_ico_flagoff'></button>
						</h4>					
						<div>
						    <span class="tcolor">发件人:</span><b id='send_people' class='green'>{{data.currItem.fromuser}}
							</b>
							<div class="profileTip" style=" z-index: 9999;display: none;">
								<div class="infoArrowUp" id="infoarrowup__QmProfileTips_" style="display:none;"></div>
								<div class="tipWrap ">
								   <div class="tipAll" style="width:320px;left:-0px">
										<div class="tipInner">										
										  <div class="profile_inner">
											  <img src="/cgi-bin/getqqicon?uin=&amp;mode=newaddr&amp;mailaddr=no-reply@mail.pgyer.com&amp;sid=hflfWwMFtcwOIHwl" title="" class="iconMask_gray">
											  <div class="nowrap"><span id="span_displayname_no-reply@mail.pgyer.com" class="green bold b_size txtflow tip_dispname_long ">{{data.currItem.fromuser_name}}</span></div>
											  <!--div class="profile_inner_info"><a href="javascript:;" class="graytext pointer accountFrom" title="给TA写信" style="margin-right:9px;">{{data.currItem.email_name}}</a>
											      <a class="pointer" style="display:inline-block;" ></a>
											  </div-->
										  </div>
										  <div class="profile_ope"><table class="pro_ope  pro_ope_four">
											  <tbody><tr><td class="reject_td">
											   <a ng-click='sendReceive_email()'  class="pointer">往来邮件</a></td><td ng-show='data.flag>5'  class="addedit_td"><a  title="将此发件人添加到通讯录" class="pointer">添加</a></td></tr>
											  </tbody></table>
										  </div>
										</div>
									</div>
									<div class="tipSwitch"><div class="tipAllLeft  tipAllLeft_disabled "></div><div class="tipAllRight  tipAllRight_disabled "></div></div>
								</div><div class="infoArrowDown" id="infoarrowdown__QmProfileTips_" style="display:none;"></div>
							</div>
						</div>
						<div>
							<span class="tcolor">时&nbsp&nbsp&nbsp间:{{data.currItem.sendtime}}</span>							
						</div> 
						<div ng-show='data.sizeshow!=1'>
						    <span  class="tcolor">收件人:<a ng-click='sizeshow(1)' class='pull-right fa fa-angle-double-down'>显示</a></span><span ng-repeat='item in data.currItem.sendtoname_array' ng-mouseover ='mouseover_sj(item,$index,$event)' style='color:black'>{{item}};</span>
						</div>
						<div ng-show='data.sizeshow==1'>
						    <span class="tcolor">收件人:<a ng-click='sizeshow(2)' class='pull-right fa fa-angle-double-up'>隐藏</a></span><span ng-repeat='item in data.currItem.sendtoname_array' ng-mouseover ='mouseover_sj(item,$index,$event)' style='color:black'>{{item}};</span>
						</div>
						<div ng-hide='data.currItem.ccname==undefine||data.currItem.ccname==""'>
						    <span class="tcolor">抄送人:</span><span style='color:black'>{{data.currItem.ccname}}</span>
						</div>						
						<div ng-show='data.sizeshow==1&&data.currItem.attachofemails.length>0'>
						    <span class="tcolor">附&nbsp&nbsp&nbsp件:</span><span style='color:' >{{data.currItem.attachofemails.length}}个(<a ng-click='scroll()' class="fa {{data.currItem.attachofemails[0].icon_file}} fa-1x">{{data.currItem.attachofemails[0].refname}}</a>)</span>
						</div>
						<div ng-show='data.sizeshow==1'>
						    <span class="tcolor">大&nbsp&nbsp&nbsp小:</span><span style='color:black'>{{data.currItem.contentsize}}KB</span>
						</div>
					</div>
				</div>
				<div class="mail-box">
					<div ng-show='data.currItem.contentid>=0' class="mail-body">						
						<p>
						{{data.currItem.content}}
						</p>
					</div>
					
					<div ng-show='data.currItem.contentid<0' id='mail_content' class="mail-body">
						<div ng-bind-html='data.contentHtml'></div>
					</div>
					<div  class="mail-attachment" ng-show='data.currItem.attachofemails.length>0'>
						<p>
							<span><i class="fa fa-paperclip"></i> {{data.currItem.attachofemails.length}} 附件 - </span>
							<a>下载所有</a>
						</p>

						<div class="attachment att_bt" ng-repeat='item in data.currItem.attachofemails'>
							<div class="fa {{item.icon_file}} fa-3x ico_big"></div>
							<div class="name_big">
								<span>{{item.refname}}</span><span class="graytext">({{item.refsize}}KB)</span>
								<div class="down_big"><a target="_blank" href="/downloadfile.do?iswb=true&filecode={{item.downloadcode}}">下载</a><a style='padding-left:10px' ng-click='server_save(item.refid)'>服务端另存</a></div>
							</div>									
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="mail-body text-right tooltip-demo">
							<a ng-click='back()' class="btn btn-sm btn-white" ><i class="fa fa-arrow-left"></i> 返回</a>
							<a ng-click='tansfer()' class="btn btn-sm btn-white" ><i class="fa fa-arrow-right"></i> 转发</a>
							<a ng-click='reply_all()' class="btn btn-sm btn-white" ><i class="fa fa-reply"></i> 全部回复</a>
							<a ng-click='reply()' class="btn btn-sm btn-white" ><i class="fa fa-reply"></i> 回复</a>
							<!--a ng-click='reply_all()' class="btn btn_gray" data-toggle="tooltip" data-placement="top" title="回复"><i class=""></i> 全部回复</a>
							<a ng-click='reply()' class="btn btn_gray" data-toggle="tooltip" data-placement="top" title="回复"><i class=""></i> 回复</a>
							<a href="#" class="btn btn_gray" data-toggle="tooltip" data-placement="top" title="Print email"><i class="fa fa-print"></i> </a>
							<a href="mailbox.html" class="btn btn_gray" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </a-->
							<button ng-hide='true' title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Print" class="btn btn-sm btn-white"><i class="fa fa-print"></i> 打印</button>
							<button ng-hide='true' title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm btn-white"><i class="fa fa-trash-o"></i> 删除</button>
					</div>
					<!--div class="clearfix"></div-->
				</div>
            </div>
        </div>
    </div>
    <!---->
</div>
<style>
.bold {
  font-weight:bold
}
.star {
    background: url(../web/images/star.png)no-repeat;
    background-position: center;
}
.lightstar {
    background: url(../web/images/lightstar.png)no-repeat;
    background-position: center;
}

.Rr {
    background: url(../web/images/open_mail.png)no-repeat;
    background-position-y: center;
}
.unr {
    background: url(../web/images/unopen_mail.jpg)no-repeat;
    background-position-y: center;
}
table.i td.ci div.cir {
    width: 18px;
    height: 16px;
    overflow: hidden;
    cursor: pointer;
}
.mail-box-header1{
 background: url(../web/images/header.jpg)no-repeat;
 
}
.mail-box-header {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    border-bottom: 0;
    padding: 5px 5px 5px 5px;
}
.fadeInRight {
    z-index: 10;
}
.o_title2 {
    background: #f2f4f6;
    margin: 0;
    padding: 0 0 0 12px;
    height: 20px;
}
.black {
    color: #000;
}
.normal {
    font-weight: normal;
}
.f_size {
    font-size: 12px;
}

.att_bt {
    _zoom: 1;
    padding: 5px 2px;
    clear: both;
    margin: 5px 0 10px;
    min-height: 40px;
}
.ico_big {
    float: left;
    margin: 2px 8px 0 0;
}
.name_big {
    float: left;
}
.graytext {
    color: #a0a0a0;
}
.name_big .down_big {
    margin-top: 2px;
}
.table {
    width: 100%;
    max-width: 100%;
     margin-bottom: 0px; 
}
.high {
    background: #e3e1e4;
}
.tcolor {
    font: normal 12px "lucida Grande",Verdana,"Microsoft YaHei";
    color: #7f7f7f;
}
.green, .grn, a.green:link, a.green:visited {
    color: #5fa207;
}
.qm_ico_flagoff {
    padding: 0;
    border: 0;
    width: 15px;
    height: 15px;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -2px;
    _margin-top: -7px;
}
.tenxun-color {
   background-color:#eff5fb
}
.m-t-md {
    margin-top: 0px;
}
.btn_gray {
    display: inline-block;
    height: 22px;
    min-width: 24px;
    line-height: 24px;
    line-height: 23px\9\0;
    _line-height: 26px;
    _overflow-y: hidden;
    padding: 0 12px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    border-radius: 3px;
	color: rgb(104, 107, 109)
    border-width: 1px;
    border-style: solid;
    border-color: rgb(136, 136, 136);
    border-image: initial;
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 90%, rgb(243, 243, 243) 100%);
}
.time{
	color:#1e5494;
	font-size:14px;
}
th {
    border: 0.5px solid #ece1e1;
    border-collapse: separate;
    border-bottom-width: thin;
}
.lm_panel {
    border-style: groove;
    border: 1px solid rgba(108, 124, 134, 0.39);
    background: #fff;
    height: 500px;
	/**overflow: auto;*/
    overflow-x: hidden;
	overflow-y: hidden;
	
}
.settingtable {
    background-color: #eff5fb;
}
.lm_sbar .lm_sopen {
    /* background: url(/zh_CN/htmledition/images/webp/newicon/compose207c92.png) 0 -312px no-repeat; */
    width: 19px;
    height: 20.5px;
    padding: 0;
    border: 1px solid rgb(169, 169, 169);
    float: right;
    border-bottom-left-radius: none;
    border-left: white;
}
.lm_sbar {
    border-bottom: 1px solid #ccc;
    padding: 7px 6px 4px;
    _padding-left: 3px;
    line-height: 11px;
}
.cptab {
    position: absolute;
    height: 25px;
    /* border: 1px solid #7f9db9; */
    border-bottom: none;
    line-height: 24px;
    border-bottom: none;
    width: 7.9%!important;
    text-align: center;
	background:#eff5fb;
}
.cpslt {
    background: #fff;
    height: 25px;
    font-weight: bold;
}
.lm_sbar div {
    overflow: hidden;
}
.ds_dialog {
    z-index: 3002;
}
.groupclose{
    padding-left:8px;
}
.note-editor .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 1px !important ;
    padding-right: 1px !important;
}
.note-editor .btn-group > .btn-group {
    float: left;
    max-width: 80px !important;
}
.note-editor.note-frame .note-statusbar {
    background-color: #f1f1f1;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    visibility: hidden;
}
.note-editor .form-group {
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.form-inline{
   padding:5px !important
}
button.btn.btn-toolbar, a.btn.btn-toolbar, div.btn.btn-toolbar {
    background-color: #fff;
    height: 25px;
    margin: 0px;
    padding: 2px 0px 0px 0px;
    font-size: 1px;
}
/*邮件下拉*/

.div_txt {
    border: 1px solid #c3c3c3;
    border-top: 1px solid #7c7c7c;
    border-left: 1px solid #9a9a9a;
    background:0 -162px #fff repeat-x;
    padding: 1px;
    width: auto;
    height: auto;
    _height: 16px;
    min-height: 18px;
    font-family: Tahoma;
}
.attbg:hover {
    background-color:#e3e3ec;
}
.attbg_focus {
    background-color:#FFB951;
}
.addr_text {
    margin: 1px -13px 1px 0;
    height: 16px;
    background: transparent;
}

.addr_base {
    height: 16px;
    margin: 1px 3px 1px 3px;
    cursor: default;
    color: #2b2828;
    font-family: "lucida Grande",Verdana,"Microsoft YaHei";
}
ul.autoul{ /* 下拉菜单 */
 
  width:216px;
  margin:0px;
  margin-top:-5px;
  padding:0px;
  color:#666;
  border:1px solid #e5e6e7;
  border-top:0;
  overflow:hidden;
}
ul.autoul li.autoli{ /* 下拉菜单li */
 
  height:30px;
  display:block;
  list-style-type:none;
  text-align:left;
  cursor:pointer;
  font-size:14px;
  line-height:30px;
  padding-left:15px;
  padding-right:15px;
  overflow:hidden;
  /*当对象内文本溢出时显示省略标记*/
  text-overflow:ellipsis; 
}
.lihover{ /* 下拉菜单li高亮样式 */
 
  background-color:#eee;
}
.showli{ display:block;}/* 经过过滤的li的样式 */
#attach-area table thead {
    visibility:hidden;
}
.limit{
  overflow-y:auto;
  width:100%;
}
/*.mail-body {
    border-top: 1px solid #e7eaec;
    padding: 5px;
}*/
.b { margin:0px; padding:0px; overflow:auto; }  
.line0 { line-height:20px; background-color:lightyellow; padding:0px 15px; }  
.line1 { line-height:18px; background-color:lightblue; padding:0px 10px; }  
.w { position:absolute; lift:10px; top:10px; width:1px; height:300px; overflow:hidden; border:2px groove #281; cursor:default; -moz-user-select:none; z-index:10}  
.t { line-height:20px; height:20px; width:160px; overflow:hidden; background-color:#27C; color:white; font-weight:bold; border-bottom:1px outset blue; text-align:center; }  
.winBody { height:270px; width:160px; overflow-x:auto; overflow-y:auto; border-top:1px inset blue; padding:10px; background-color:white; }  

.profileTip {
    padding: 2px;
    background: #D5D5D5;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    z-index: 21;
}
.infoArrowUp {
    width: 17px;
    height: 9px;
    background: url(/zh_CN/htmledition/images/webp/newicon/infocard1e9c5d.gif) no-repeat 0 0;
    position: absolute;
    z-index: 10;
    margin: -9px 0 0 55px;
}
.profileTip .tipInner {
    width: 320px;
    border: 0;
    background: #FFF;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}
.profile_inner {
    padding: 16px;
    overflow: hidden;
    _zoom: 1;
}
.profile_inner img {
    float: left;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.profile_inner div {
    line-height: 20px;
}
.profile_inner div {
    line-height: 20px;
    max-width: 238px;
    _width: 238px;
    margin-left: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nowrap {
    white-space: nowrap;
}
.profile_inner div {
    line-height: 20px;
}
.profile_ope .pro_ope {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
    background: #f5f5f5;
}
.profile_ope td {
    height: 25px;
    text-align: center;
    border-right: 1px solid #ddd;
    width: 30%;
}
</style>
<link href="css/plugins/summernote/summernote.css" rel="stylesheet">
<link href="css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
<script src="js/plugins/summernote/summernote.min.js"></script>
<link rel="stylesheet" href="js/plugins/z-tree/css/zTreeStyle/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="js/plugins/z-tree/jquery.ztree.core.js"></script>
<script type="text/javascript" src="js/plugins/z-tree/jquery.ztree.excheck.js"></script>
<script>
$(document).ready(function(){
	  
	$('.note-editing-area').keydown(function(event){
       event.stopPropagation();
	   console.warn(event);
     })
	 console.warn($(window).height());
	 $('.limit').height($(window).height()-130);
});
</script>