<div hc-edit-list>

    <div class="row">
        <div hc-input="data.currItem.position_level_code" hc-label="职级" hc-required="true"></div>

        <div hc-input="data.currItem.grade_bottom_line" hc-label="职等上限" hc-required="true"></div>

        <div hc-input="data.currItem.grade_top_line" hc-label="职等下限" hc-col-count="4"></div>

    </div>

    <div class="row">
        <div hc-input="data.currItem.remark"
             hc-label="备注"
             hc-col-count="6">
        </div>

        <div hc-input="data.currItem.usable"
             hc-label="可用"
             hc-required="true"
             hc-type="checkbox">
        </div>
    </div>

</div>