<div hc-edit-list>

    <div class="row">
        <div hc-input="data.currItem.position_class_code"
             hc-label="职类编码"
             hc-required="true">
        </div>

        <div hc-input="data.currItem.position_class_name"
             hc-label="职类名称"
             hc-required="true">
        </div>

        <div hc-input="data.currItem.usable"
             hc-label="有效状态"
             hc-required="true"
             hc-type="checkbox">
        </div>
    </div>

    <div>
        <div hc-input="data.currItem.remark"
             hc-label="备注"
             hc-col-count="6">
        </div>
    </div>

</div>