<div hc-edit-list>
    <div class="row">
        <div hc-input="data.currItem.money_bottom_line"
             hc-readonly="true"
             hc-label="应缴纳税额下限"
             hc-type="money">
        </div>
        <div hc-input="data.currItem.money_top_line"
             hc-label="应缴纳税额上限"
             hc-type="money">
        </div>
        <div hc-input="data.currItem.tax_rate"
             hc-label="税率"
             hc-type="percent">
        </div>
        <div hc-input="data.currItem.quick_deduction"
             hc-label="速算扣除数"
             hc-type="money">
        </div>
        <div hc-input="data.currItem.start_month"
             hc-label="生效年月"
             hc-type="year-month"
             hc-required="true">
        </div>
    </div>
</div>