<div hc-edit-list>
    <div class="row">
        <div hc-input="data.currItem.employee_qty"
             hc-label="员工人数"
             hc-type="number"
             hc-change="numberCheck()"
             hc-required="true">
        </div>
        <div hc-input="data.currItem.scale"
             hc-label="分等比例"
             hc-change="scaleCheck()"
             hc-required="true" >
        </div>
        <div hc-input="data.currItem.usable"
             hc-label="可用"
             hc-type="checkbox">
        </div>
    </div>
</div>