<div hc-obj-prop>
    <div id="base" class="active">
    <div class="hc-box grid-other-h">
        <div class="row">
            <div hc-input="data.currItem.dpivotjob_no"
                 hc-label="重点工作编码"
                 hc-readonly="true">
            </div>
            <div hc-input="data.currItem.year_month"
                 hc-label="年月"
                 hc-required="true"
                 hc-readonly="data.currItem.stat==5"
                 hc-type="year-month">
            </div>
            <div hc-input="data.currItem.org_name"
                 hc-label="所属部门"
                 hc-class-id="dept"
                 hc-readonly="data.currItem.stat==5"
                 hc-common-search="commonSearchSettingOfDept"
                 hc-required="true">
            </div>
            <div hc-input="data.currItem.stat"
                 hc-label="单据状态"
                 hc-dict-code="check_stat"
                 hc-readonly="true">
            </div>
    </div>

        <div class="row">
            <div hc-input="data.currItem.note"
                 hc-label="备注"
                 hc-readonly="data.currItem.stat==5"
                 hc-col-count="6">
            </div>
            <div hc-input="data.currItem.creator"
                 hc-label="创建人"
                 hc-readonly="true">
            </div>
        </div>

    </div>
    <div hc-grid="gridOptions"  hc-auto-height="grid"></div>
    </div>
</div>
<style>
    .approval—status {
        display: none;
    }
</style>


