<div hc-obj-prop>
    <div id="base" class="active">
        <div class="hc-box other-h">
            <div class="row">
                <div hc-input="data.currItem.empkpibill_no"
                     hc-label="绩效表单编码"
                     hc-readonly="true">
                </div>
                <div hc-input="data.currItem.kpicase_name"
                     hc-label="考核方案名称"
                     hc-dict-code="seasonmth"
                     hc-readonly="true">
                </div>
                <div hc-input="data.currItem.SeasonMth"
                     hc-label="考核周期类型"
                     hc-dict-code="seasonmth"
                     hc-readonly="true"
                     hc-type="date">
                </div>
                <div hc-input="data.currItem.stat"
                     hc-label="单据状态"
                     hc-dict-code="stat"
                     hc-readonly="true">
                </div>
            </div>

            <div class="row">
                <div hc-input="data.currItem.cyear"
                     hc-label="考核年度"
                     hc-type="year"
                     hc-readonly="true">
                </div>
                <div hc-input="data.currItem.kpi_period"
                     hc-label="考核期间"
                     hc-dict-code="seasonmth"
                     hc-readonly="true">
                </div>
                <div hc-input="data.currItem.userid"
                     hc-label="被考核员工"
                     hc-readonly="true"
                     hc-class-id="employee_header"
                     hc-common-search="commonSearchSettingOfEmployee">
                </div>
                <div hc-input="data.currItem.creator"
                     hc-label="创建人"
                     hc-readonly="true">
                </div>
            </div>

            <div class="row">
                <div hc-input="data.currItem.org_name"
                     hc-label="部门名称"
                     hc-readonly="true">
                </div>
                <div hc-input="data.currItem.positionid"
                     hc-label="岗位"
                     hc-readonly="true">
                </div>
                <div hc-input="data.currItem.empid"
                     hc-label="员工工号"
                     hc-readonly="true">
                </div>
                <div hc-input="data.currItem.create_time"
                     hc-label="创建时间"
                     hc-readonly="true">
                </div>
            </div>

            <div class="row">
                <div hc-input="data.currItem.notes"
                     hc-label="备注"
                     hc-col-count="8"
                     hc-readonly="true">
                </div>
            </div>
        </div>

        <div style="display: flex">

            <div  hc-grid="gridOptions"  style="width: 1500px;height: 300px"></div>

            <div style="width: 50%;" >
                <div hc-tab="kpi_tab" hc-tab-change="onTabChange(params)" style="width: 270px" class="other-h"></div>
                <div hc-tab-page  >
                    <!--适用评分标准-->
                    <div id="score" class="active">
                        <div  hc-grid="gridOptions_scoringstandard" class="other-h" style="height: 270px"></div>
                    </div>
                    <!--适用重点工作完成率-->
                    <div id="completion" >
                        <div  hc-grid="gridOptions_completionrate" class="other-h" style="height: 270px"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



